header {
  position: sticky;
  top: 0;
  left: 0;
  background: #FFFFFF;
  z-index: 9990;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.067);
}
header .fl {
  padding: 13px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header .fl .logo2 {
  display: none;
}
header .fl .ko .bt {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  padding: 8px 15px;
  background: #70C05B;
  cursor: pointer;
  border-radius: 5px;
}
header .fl .ko .bt a {
  text-decoration: none;
  color: white;
}
header .fl .ko .bt2 {
  display: none;
}
header .fl .ko .sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  border-top: 1px solid rgb(231, 231, 231);
}
header .fl .ko .sub-menu-wrap.open-menu {
  max-height: 400px;
}
header .fl .ko .sub-menu {
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.277);
}
header .fl .ko .sub-menu .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
header .fl .ko .sub-menu .grid .tx {
  display: flex;
  flex-direction: column;
  list-style: none;
}
header .fl .ko .sub-menu .grid .tx ul {
  list-style: none;
}
header .fl .ko .sub-menu .grid .tx a {
  text-decoration: none;
  color: #414141;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 300%;
}
header .fl .ko .sub-menu .grid .tx li {
  transition: 0.3s ease-out;
}
header .fl .ko .sub-menu .grid .tx li:hover {
  transform: translateX(5px);
}
header .fl .ko .sub-menu .grid .tx li:hover a {
  color: #FF6633;
}
header .fl .search {
  display: flex;
  align-items: center;
  border: 1.4px solid #70C05B;
  border-radius: 5px;
  width: 60%;
  padding: 5px 5px;
}
header .fl .search input {
  outline: none;
  padding: 5px 5px;
  border: none;
  width: 100%;
  font-size: 15px;
}
header .fl .search a {
  position: relative;
  top: 2px;
  left: -10px;
  color: #414141;
}
header .fl .icon {
  display: flex;
  align-items: baseline;
  gap: 30px;
  text-align: center;
  position: relative;
}
header .fl .icon a {
  position: relative;
  text-decoration: none;
  color: black;
}
header .fl .icon .a {
  width: 21px;
}
header .fl .icon .a2 {
  width: 21px;
}
header .fl .icon img {
  transition: 0.3s ease-out;
}
header .fl .icon a:hover img {
  transform: translateY(-5px);
}
header .fl .icon #count {
  margin: 0;
  padding: 4px 8px;
  position: absolute;
  top: -10px;
  right: 4px;
  font-size: 12px;
  background: #eb2d2d;
  color: #fff;
  border-radius: 50%;
}
header .fl .men .drop-down {
  display: inline-block;
  position: relative;
}
header .fl .men .drop-down__button {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 40px;
  padding: 0 10px;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}
header .fl .men .drop-down__name {
  color: black;
  letter-spacing: 2px;
}
header .fl .men .drop-down__icon {
  width: 18px;
  vertical-align: middle;
  margin-left: 14px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
header .fl .men .drop-down__menu-box {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
}
header .fl .men .drop-down__menu {
  margin: 0;
  padding: 0 13px;
  list-style: none;
}
header .fl .men .drop-down__menu-box:before {
  content: "";
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;
}
header .fl .men .drop-down__menu-box:after {
  content: "";
  background-color: transparent;
}
header .fl .men .drop-down__item {
  font-size: 14px;
  padding: 13px 0;
  text-align: left;
  font-weight: 500;
  color: #909dc2;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e0e2e9;
}
header .fl .men .drop-down__item-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0px;
  fill: #8995b6;
}
header .fl .men .drop-down__item:hover .drop-down__item-icon {
  fill: #3d6def;
}
header .fl .men .drop-down__item:hover {
  color: #3d6def;
}
header .fl .men .drop-down__item:last-of-type {
  border-bottom: 0;
}
header .fl .men .drop-down--active .drop-down__menu-box {
  visibility: visible;
  opacity: 1;
  margin-top: 24px;
}
header .fl .men .drop-down__item:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 28px;
  background-color: #3d6def;
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
header .fl .men .drop-down__item:hover:before {
  display: block;
}
header .fl .men2 .a {
  cursor: pointer;
}
header .fl .men2 .sub-menu-wrap {
  position: absolute;
  top: 103%;
  right: 0%;
  width: 300px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
header .fl .men2 .sub-menu-wrap.open-menu {
  max-height: 400px;
}
header .fl .men2 .sub-menu {
  background: white;
  padding: 20px;
  margin: 6px 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.277);
}
header .fl .men2 .user-info {
  display: flex;
  align-items: center;
}
header .fl .men2 .user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
header .fl .men2 .sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
header .fl .men2 .sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #535353;
  margin: 14px 0;
}
header .fl .men2 .sub-menu-link p {
  width: 100%;
}
header .fl .men2 .sub-menu-link img {
  width: 40px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
header .fl .men2 .sub-menu-link span {
  font-size: 15px;
  transition: transform 0.5s;
}
header .fl .men2 .sub-menu-link:hover {
  transform: translateX(5px);
  transition: 0.3s;
}
header #nav-link-all section {
  z-index: 99;
  width: 100%;
  background: white;
}
header #nav-link-all section .wrapper {
  border-top: 1px solid hsl(0, 0%, 89%);
  position: relative;
  max-width: 1300px;
  padding: 0px 20px;
  height: 40px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #nav-link-all .wrapper .nav-links {
  display: inline-flex;
}
header #nav-link-all .nav-links li {
  list-style: none;
}
header #nav-link-all .nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 15px;
  border-radius: 5px;
  transition: all 0.5s ease;
  position: relative;
}
header #nav-link-all .nav-links li a:hover {
  color: hsl(353, 100%, 78%);
}
header #nav-link-all .nav-links li .a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: hsl(353, 100%, 78%);
  border-radius: 40px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
header #nav-link-all .nav-links li .a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
header #nav-link-all .nav-links .mobile-item {
  display: none;
}
header #nav-link-all .nav-links .drop-menu {
  position: absolute;
  background: white;
  width: 180px;
  line-height: 45px;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
header #nav-link-all .nav-links li:hover .drop-menu,
header #nav-link-all .nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 50px;
  opacity: 1;
  visibility: visible;
}
header #nav-link-all .drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
header #nav-link-all .mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
header #nav-link-all .mega-box .content {
  background: white;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(87, 87, 87, 0.15);
  border-radius: 10px;
}
header #nav-link-all .mega-box .content .row {
  width: calc(23% - 25px);
  line-height: 45px;
}
header #nav-link-all .content .row img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
header #nav-link-all .content .row h2 {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
header #nav-link-all .content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
header #nav-link-all .row .mega-links li {
  padding: 0 20px;
}
header #nav-link-all .row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #9d9d9d;
  font-size: 17px;
  display: block;
}
header #nav-link-all .row .mega-links li a:hover {
  color: black;
}
header #nav-link-all .wrapper .btn {
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
header #nav-link-all .wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}
header #nav-link-all section input {
  display: none;
}
header #nav-link-all .body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
header #nav-link-all .body-text div {
  font-size: 45px;
  font-weight: 600;
}

nav .fll {
  display: none;
}

@media (max-width: 970px) {
  header .fl {
    gap: 20px;
  }
  header .fl .ko .bt {
    display: none;
  }
  header .fl .ko .bt2 {
    display: block;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 8px 15px;
    background: #70C05B;
    cursor: pointer;
    border-radius: 5px;
  }
}
@media (max-width: 900px) {
  header #nav-link-all {
    display: none;
  }
}
@media (max-width: 740px) {
  header .fl {
    gap: 20px;
  }
  header .fl .logo {
    display: none;
  }
  header .fl .logo2 {
    display: block;
  }
  header #nav-link-all {
    display: none;
  }
}
@media (max-width: 655px) {
  header .fl {
    gap: 7px;
  }
  header .fl .ko .bt2 {
    display: none;
  }
  header .fl .ko .sub-menu .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  header .fl .box {
    display: flex;
    align-items: center;
    border: 1.4px solid #70C05B;
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px;
  }
  header .fl .box input {
    outline: none;
    padding: 5px 5px;
    border: none;
    width: 100%;
    font-size: 15px;
  }
  header .fl .icon a {
    display: none;
    text-decoration: none;
    color: black;
  }
  header .fl .M {
    display: none;
  }
  header .fl .men2 .a {
    display: none;
    cursor: pointer;
  }
}
@media (max-width: 597px) {
  nav {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 999;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
  nav .fll {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 5px 14px;
  }
  nav .fll .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 14px;
    text-align: center;
  }
  nav .fll .icon a {
    text-decoration: none;
    color: black;
  }
  nav .fll .icon a p {
    font-size: 14px;
  }
  nav .fll .icon .a {
    width: 21px;
  }
  nav .fll .icon .a2 {
    width: 21px;
  }
  nav .fll .icon img {
    transition: 0.3s ease-out;
  }
  nav .fll .icon a:hover img {
    transform: translateY(-5px);
  }
}
@media (max-width: 426px) {
  nav .fll {
    width: 100%;
    margin: auto;
    padding: 10px 5px;
  }
  nav .fll .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }
  nav .fll .icon a {
    text-decoration: none;
    color: black;
  }
  nav .fll .icon a p {
    font-size: 11px;
  }
  nav .fll .icon .a {
    width: 24px;
  }
  nav .fll .icon .a2 {
    width: 21px;
  }
  nav .fll .icon img {
    transition: 0.3s ease-out;
  }
  nav .fll .icon a:hover img {
    transform: translateY(-5px);
  }
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}

/**
 * NOTIFICATION TOAST 
 */
.notification-toast {
  position: fixed;
  bottom: 82px;
  left: 20px;
  right: 20px;
  background: white;
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.276);
  transform: translateX(calc(-100% - 40px));
  transition: 0.6s ease-in-out;
  z-index: 5;
  animation: slideInOut 7s ease-in-out infinite;
}

@keyframes slideInOut {
  0%, 40%, 100% {
    transform: translateX(calc(-100% - 40px));
    opacity: 0;
    visibility: hidden;
  }
  50%, 95% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
.notification-toast.closed {
  display: none;
}

.toast-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.toast-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.toast-banner {
  width: 70px;
  height: 70px;
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 5px;
}

.toast-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.toast-detail {
  width: calc(100% - 85px);
  padding-right: 10px;
}

.toast-message {
  font-size: 0.788rem;
  color: hsl(0, 0%, 47%);
  margin-bottom: 8px;
}

.toast-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: hsl(0, 0%, 27%);
  margin-bottom: 6px;
}

.toast-meta {
  font-size: 0.698rem;
  color: hsl(0, 0%, 47%);
}

@media (max-width: 430px) {
  .notification-toast {
    position: fixed;
    bottom: 90px;
    left: 20px;
    right: 20px;
    background: white;
    max-width: 300px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.276);
    transform: translateX(calc(-100% - 40px));
    transition: 0.6s ease-in-out;
    z-index: 5;
    animation: slideInOut 7s ease-in-out infinite;
  }
}
.sec7 {
  margin-top: 50px;
  background-image: url(../images/bg.png);
  width: 100%;
  background-size: cover;
}
.sec7 .f {
  display: flex;
  justify-content: space-between;
}
.sec7 .f .fle {
  padding: 40px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.sec7 .f .fle .b {
  display: flex;
  gap: 15px;
}
.sec7 .f .fle .b a {
  text-decoration: none;
  color: black;
}
.sec7 .f .fle2 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sec7 .f .fle2 a {
  text-decoration: none;
  color: black;
}

@media (max-width: 990px) {
  .sec7 .f {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sec7 .f .fle {
    padding: 40px 0px;
    gap: 15px;
  }
  .sec7 .f .fle .b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .sec7 .f .fle .b a {
    text-decoration: none;
    color: black;
  }
  .sec7 .f .fle2 {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle2 .a {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sec7 .f .fle2 a {
    text-decoration: none;
    color: black;
  }
}
@media (max-width: 600px) {
  .sec7 .rght {
    display: none;
  }
  .sec7 .f {
    flex-direction: column;
    text-align: center;
  }
  .sec7 .f .fle {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .sec7 .f .fle .b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
  }
  .sec7 .f .fle .b a {
    text-decoration: none;
    color: black;
  }
  .sec7 .f .fle2 {
    gap: 1px;
  }
}
@media (max-width: 597px) {
  .sec7 {
    margin-top: 50px;
    background-image: url(../images/bg.png);
    width: 100%;
    background-size: cover;
  }
  .sec7 .f {
    display: flex;
    justify-content: space-between;
  }
  .sec7 .f .fle {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle a {
    text-decoration: none;
    color: black;
  }
  .sec7 .f .fle2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle2 a {
    text-decoration: none;
    color: black;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fbf9ec;
}

@media (max-width: 1190px) {
  .macl, .bosh {
    padding: 0px 15px;
  }
  .sec {
    padding: 0 15px;
  }
  .sec1 {
    padding: 0 15px;
  }
  .sec2 {
    padding: 0px 15px;
  }
  .about1 {
    padding: 0px 14px;
  }
  header {
    padding: 13px 14px;
  }
  .sec2 .f_aksi {
    padding: 0px 14px;
  }
  .sec2 .s_f {
    padding: 40px 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .sec2 .s_f .oxr-no {
    display: none;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec5 {
    padding: 0px 14px;
  }
  .sec6 {
    padding: 0px 14px;
  }
  .sec7 {
    padding: 0px 14px;
  }
}
#loading {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  transition: 0.5s;
}
#loading .cool-loader {
  width: 40px;
  height: 80px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 999;
}
#loading .cool-loader__inner {
  border-radius: 50%;
  animation: loader-animation 0.8s ease-out infinite;
  background: #5cb85c;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 9;
}
#loading .cool-loader__shadow {
  width: 40px;
  bottom: 2px;
  height: 5px;
  background: #000;
  opacity: 0.3;
  position: absolute;
  left: 0;
  border-radius: 50%;
  animation: shadow-animation 0.8s ease-out infinite;
}
@keyframes loader-animation {
  0% {
    top: 0;
    transform: scale(1, 1);
  }
  35% {
    transform: scale(1, 1);
    background: #5cb85c;
  }
  50% {
    top: 40px;
    transform: scale(1.2, 0.8);
    background: #449d44;
  }
  75% {
    transform: scale(0.8, 1.2);
  }
  100% {
    top: 0;
    transform: scale(1, 1);
    background: #5cb85c;
  }
}
@keyframes shadow-animation {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
  50% {
    transform: scale(1, 1);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
}
#loading .link {
  text-decoration: none;
  color: #2e77ea;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: crimson;
  color: #fff;
  width: 45px;
  height: 43px;
  right: 0;
  bottom: 90px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}

.scrollToTop-btn.active {
  right: 33px;
  opacity: 1;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.3s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

main .about1 .bosh {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}
main .about1 .bosh img {
  width: 7px;
}
main .about1 .bosh .glav {
  text-decoration: none;
  color: black;
}
main .about1 .bosh a {
  text-decoration: none;
  color: gray;
}
main .about1 .fas {
  background-image: url(../images/Group\ 7105\(1\).png);
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}
main .about1 .fas .tx {
  width: 70%;
}
main .about1 .fas .tx h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  color: #414141;
}
main .about1 .fas .tx p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #FF6633;
}
main .about1 .fas img {
  width: 100%;
}
main .about1 .checkla-fl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: baseline;
  gap: 40px;
  margin-top: 100px;
}
main .about1 .checkla-fl .f {
  display: flex;
  gap: 5px;
}
main .about1 .checkla-fl .f p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
main .about1 .checkla-fl .f h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}
main .about1 .fot-tepa {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  gap: 40px;
}
main .about1 .fot-tepa h2 {
  background: #E5FFDE;
  padding: 35px 50px;
  color: #70C05B;
}

@media (max-width: 1190px) {
  .macl, .bosh {
    padding: 0px 15px;
  }
  .sec {
    padding: 0 15px;
  }
  .sec1 {
    padding: 0 15px;
  }
  .sec2 {
    padding: 0px 15px;
  }
  .about1 {
    padding: 0px 14px;
  }
  header {
    padding: 13px 14px;
  }
  .sec2 .f_aksi {
    padding: 0px 14px;
  }
  .sec2 .s_f {
    padding: 40px 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .sec2 .s_f .oxr-no {
    display: none;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec5 {
    padding: 0px 14px;
  }
  .sec6 {
    padding: 0px 14px;
  }
  .sec7 {
    padding: 0px 14px;
  }
}
@media (max-width: 920px) {
  main .about1 .fas {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }
  main .about1 .fas .tx {
    width: 60%;
  }
  main .about1 .fas .tx h1 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #414141;
  }
  main .about1 .fas .tx p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FF6633;
  }
  main .about1 .fas img {
    width: 100%;
  }
  main .about1 .checkla-fl {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    margin-top: 100px;
  }
  main .about1 .checkla-fl .f p {
    font-size: 15px;
    line-height: 140%;
  }
  main .about1 .checkla-fl .f h2 {
    font-size: 20px;
    line-height: 140%;
  }
}
@media (max-width: 800px) {
  main .about1 .fot-tepa {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 100px;
    gap: 40px;
  }
  main .about1 .fot-tepa h2 {
    background: #E5FFDE;
    padding: 35px 20px;
    color: #70C05B;
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  main .about1 .fas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }
  main .about1 .fas .tx {
    width: 100%;
  }
  main .about1 .fas .tx h1 {
    font-size: 35px;
    line-height: 100%;
  }
  main .about1 .fas .tx p {
    font-size: 20px;
    line-height: 140%;
    color: #FF6633;
  }
  main .about1 .fas img {
    width: 100%;
  }
  main .about1 .checkla-fl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    margin-top: 100px;
  }
  main .about1 .checkla-fl .f p {
    font-size: 15px;
    line-height: 140%;
  }
  main .about1 .checkla-fl .f h2 {
    font-size: 20px;
    line-height: 140%;
  }
}
@media (max-width: 650px) {
  main .about1 .checkla-fl {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    margin-top: 100px;
  }
  main .about1 .checkla-fl .f p {
    font-size: 14px;
    line-height: 140%;
  }
  main .about1 .checkla-fl .f h2 {
    font-size: 16px;
    line-height: 140%;
  }
}
@media (max-width: 500px) {
  main .about1 .fot-tepa {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 100px;
    gap: 40px;
  }
  main .about1 .fot-tepa h2 {
    background: #E5FFDE;
    padding: 35px 10px;
    color: #70C05B;
    font-size: 18px;
    text-align: center;
  }
}