header {
  position: sticky;
  top: 0;
  left: 0;
  background: #FFFFFF;
  z-index: 9990;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.067);
}
header .fl {
  padding: 13px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header .fl .logo2 {
  display: none;
}
header .fl .ko .bt {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  padding: 8px 15px;
  background: #70C05B;
  cursor: pointer;
  border-radius: 5px;
}
header .fl .ko .bt a {
  text-decoration: none;
  color: white;
}
header .fl .ko .bt2 {
  display: none;
}
header .fl .ko .sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  border-top: 1px solid rgb(231, 231, 231);
}
header .fl .ko .sub-menu-wrap.open-menu {
  max-height: 400px;
}
header .fl .ko .sub-menu {
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.277);
}
header .fl .ko .sub-menu .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
header .fl .ko .sub-menu .grid .tx {
  display: flex;
  flex-direction: column;
  list-style: none;
}
header .fl .ko .sub-menu .grid .tx ul {
  list-style: none;
}
header .fl .ko .sub-menu .grid .tx a {
  text-decoration: none;
  color: #414141;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 300%;
}
header .fl .ko .sub-menu .grid .tx li {
  transition: 0.3s ease-out;
}
header .fl .ko .sub-menu .grid .tx li:hover {
  transform: translateX(5px);
}
header .fl .ko .sub-menu .grid .tx li:hover a {
  color: #FF6633;
}
header .fl .search {
  display: flex;
  align-items: center;
  border: 1.4px solid #70C05B;
  border-radius: 5px;
  width: 60%;
  padding: 5px 5px;
}
header .fl .search input {
  outline: none;
  padding: 5px 5px;
  border: none;
  width: 100%;
  font-size: 15px;
}
header .fl .search a {
  position: relative;
  top: 2px;
  left: -10px;
  color: #414141;
}
header .fl .icon {
  display: flex;
  align-items: baseline;
  gap: 30px;
  text-align: center;
  position: relative;
}
header .fl .icon a {
  position: relative;
  text-decoration: none;
  color: black;
}
header .fl .icon .a {
  width: 21px;
}
header .fl .icon .a2 {
  width: 21px;
}
header .fl .icon img {
  transition: 0.3s ease-out;
}
header .fl .icon a:hover img {
  transform: translateY(-5px);
}
header .fl .icon #count {
  margin: 0;
  padding: 4px 8px;
  position: absolute;
  top: -10px;
  right: 4px;
  font-size: 12px;
  background: #eb2d2d;
  color: #fff;
  border-radius: 50%;
}
header .fl .men .drop-down {
  display: inline-block;
  position: relative;
}
header .fl .men .drop-down__button {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 40px;
  padding: 0 10px;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}
header .fl .men .drop-down__name {
  color: black;
  letter-spacing: 2px;
}
header .fl .men .drop-down__icon {
  width: 18px;
  vertical-align: middle;
  margin-left: 14px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
header .fl .men .drop-down__menu-box {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
}
header .fl .men .drop-down__menu {
  margin: 0;
  padding: 0 13px;
  list-style: none;
}
header .fl .men .drop-down__menu-box:before {
  content: "";
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;
}
header .fl .men .drop-down__menu-box:after {
  content: "";
  background-color: transparent;
}
header .fl .men .drop-down__item {
  font-size: 14px;
  padding: 13px 0;
  text-align: left;
  font-weight: 500;
  color: #909dc2;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #e0e2e9;
}
header .fl .men .drop-down__item-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0px;
  fill: #8995b6;
}
header .fl .men .drop-down__item:hover .drop-down__item-icon {
  fill: #3d6def;
}
header .fl .men .drop-down__item:hover {
  color: #3d6def;
}
header .fl .men .drop-down__item:last-of-type {
  border-bottom: 0;
}
header .fl .men .drop-down--active .drop-down__menu-box {
  visibility: visible;
  opacity: 1;
  margin-top: 24px;
}
header .fl .men .drop-down__item:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 28px;
  background-color: #3d6def;
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
header .fl .men .drop-down__item:hover:before {
  display: block;
}
header .fl .men2 .a {
  cursor: pointer;
}
header .fl .men2 .sub-menu-wrap {
  position: absolute;
  top: 103%;
  right: 0%;
  width: 300px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
header .fl .men2 .sub-menu-wrap.open-menu {
  max-height: 400px;
}
header .fl .men2 .sub-menu {
  background: white;
  padding: 20px;
  margin: 6px 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.277);
}
header .fl .men2 .user-info {
  display: flex;
  align-items: center;
}
header .fl .men2 .user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
header .fl .men2 .sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
header .fl .men2 .sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #535353;
  margin: 14px 0;
}
header .fl .men2 .sub-menu-link p {
  width: 100%;
}
header .fl .men2 .sub-menu-link img {
  width: 40px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
header .fl .men2 .sub-menu-link span {
  font-size: 15px;
  transition: transform 0.5s;
}
header .fl .men2 .sub-menu-link:hover {
  transform: translateX(5px);
  transition: 0.3s;
}
header #nav-link-all section {
  z-index: 99;
  width: 100%;
  background: white;
}
header #nav-link-all section .wrapper {
  border-top: 1px solid hsl(0, 0%, 89%);
  position: relative;
  max-width: 1300px;
  padding: 0px 20px;
  height: 40px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #nav-link-all .wrapper .nav-links {
  display: inline-flex;
}
header #nav-link-all .nav-links li {
  list-style: none;
}
header #nav-link-all .nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 15px;
  border-radius: 5px;
  transition: all 0.5s ease;
  position: relative;
}
header #nav-link-all .nav-links li a:hover {
  color: hsl(353, 100%, 78%);
}
header #nav-link-all .nav-links li .a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: hsl(353, 100%, 78%);
  border-radius: 40px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
header #nav-link-all .nav-links li .a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
header #nav-link-all .nav-links .mobile-item {
  display: none;
}
header #nav-link-all .nav-links .drop-menu {
  position: absolute;
  background: white;
  width: 180px;
  line-height: 45px;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
header #nav-link-all .nav-links li:hover .drop-menu,
header #nav-link-all .nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 50px;
  opacity: 1;
  visibility: visible;
}
header #nav-link-all .drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
header #nav-link-all .mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
header #nav-link-all .mega-box .content {
  background: white;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(87, 87, 87, 0.15);
  border-radius: 10px;
}
header #nav-link-all .mega-box .content .row {
  width: calc(23% - 25px);
  line-height: 45px;
}
header #nav-link-all .content .row img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
header #nav-link-all .content .row h2 {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
header #nav-link-all .content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
header #nav-link-all .row .mega-links li {
  padding: 0 20px;
}
header #nav-link-all .row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #9d9d9d;
  font-size: 17px;
  display: block;
}
header #nav-link-all .row .mega-links li a:hover {
  color: black;
}
header #nav-link-all .wrapper .btn {
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
header #nav-link-all .wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}
header #nav-link-all section input {
  display: none;
}
header #nav-link-all .body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
header #nav-link-all .body-text div {
  font-size: 45px;
  font-weight: 600;
}

nav .fll {
  display: none;
}

@media (max-width: 970px) {
  header .fl {
    gap: 20px;
  }
  header .fl .ko .bt {
    display: none;
  }
  header .fl .ko .bt2 {
    display: block;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 8px 15px;
    background: #70C05B;
    cursor: pointer;
    border-radius: 5px;
  }
}
@media (max-width: 900px) {
  header #nav-link-all {
    display: none;
  }
}
@media (max-width: 740px) {
  header .fl {
    gap: 20px;
  }
  header .fl .logo {
    display: none;
  }
  header .fl .logo2 {
    display: block;
  }
  header #nav-link-all {
    display: none;
  }
}
@media (max-width: 655px) {
  header .fl {
    gap: 7px;
  }
  header .fl .ko .bt2 {
    display: none;
  }
  header .fl .ko .sub-menu .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  header .fl .box {
    display: flex;
    align-items: center;
    border: 1.4px solid #70C05B;
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px;
  }
  header .fl .box input {
    outline: none;
    padding: 5px 5px;
    border: none;
    width: 100%;
    font-size: 15px;
  }
  header .fl .icon a {
    display: none;
    text-decoration: none;
    color: black;
  }
  header .fl .M {
    display: none;
  }
  header .fl .men2 .a {
    display: none;
    cursor: pointer;
  }
}
@media (max-width: 597px) {
  nav {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 999;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
  nav .fll {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 5px 14px;
  }
  nav .fll .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 14px;
    text-align: center;
  }
  nav .fll .icon a {
    text-decoration: none;
    color: black;
  }
  nav .fll .icon a p {
    font-size: 14px;
  }
  nav .fll .icon .a {
    width: 21px;
  }
  nav .fll .icon .a2 {
    width: 21px;
  }
  nav .fll .icon img {
    transition: 0.3s ease-out;
  }
  nav .fll .icon a:hover img {
    transform: translateY(-5px);
  }
}
@media (max-width: 426px) {
  nav .fll {
    width: 100%;
    margin: auto;
    padding: 10px 5px;
  }
  nav .fll .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }
  nav .fll .icon a {
    text-decoration: none;
    color: black;
  }
  nav .fll .icon a p {
    font-size: 11px;
  }
  nav .fll .icon .a {
    width: 24px;
  }
  nav .fll .icon .a2 {
    width: 21px;
  }
  nav .fll .icon img {
    transition: 0.3s ease-out;
  }
  nav .fll .icon a:hover img {
    transform: translateY(-5px);
  }
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}

/**
 * NOTIFICATION TOAST 
 */
.notification-toast {
  position: fixed;
  bottom: 82px;
  left: 20px;
  right: 20px;
  background: white;
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.276);
  transform: translateX(calc(-100% - 40px));
  transition: 0.6s ease-in-out;
  z-index: 5;
  animation: slideInOut 7s ease-in-out infinite;
}

@keyframes slideInOut {
  0%, 40%, 100% {
    transform: translateX(calc(-100% - 40px));
    opacity: 0;
    visibility: hidden;
  }
  50%, 95% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
.notification-toast.closed {
  display: none;
}

.toast-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.toast-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.toast-banner {
  width: 70px;
  height: 70px;
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 5px;
}

.toast-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.toast-detail {
  width: calc(100% - 85px);
  padding-right: 10px;
}

.toast-message {
  font-size: 0.788rem;
  color: hsl(0, 0%, 47%);
  margin-bottom: 8px;
}

.toast-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: hsl(0, 0%, 27%);
  margin-bottom: 6px;
}

.toast-meta {
  font-size: 0.698rem;
  color: hsl(0, 0%, 47%);
}

@media (max-width: 430px) {
  .notification-toast {
    position: fixed;
    bottom: 90px;
    left: 20px;
    right: 20px;
    background: white;
    max-width: 300px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.276);
    transform: translateX(calc(-100% - 40px));
    transition: 0.6s ease-in-out;
    z-index: 5;
    animation: slideInOut 7s ease-in-out infinite;
  }
}
.sec7 {
  margin-top: 50px;
  background-image: url(../images/bg.png);
  width: 100%;
  background-size: cover;
}
.sec7 .f {
  display: flex;
  justify-content: space-between;
}
.sec7 .f .fle {
  padding: 40px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.sec7 .f .fle .b {
  display: flex;
  gap: 15px;
}
.sec7 .f .fle .b a {
  text-decoration: none;
  color: black;
}
.sec7 .f .fle2 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sec7 .f .fle2 a {
  text-decoration: none;
  color: black;
}

@media (max-width: 990px) {
  .sec7 .f {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sec7 .f .fle {
    padding: 40px 0px;
    gap: 15px;
  }
  .sec7 .f .fle .b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .sec7 .f .fle .b a {
    text-decoration: none;
    color: black;
  }
  .sec7 .f .fle2 {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle2 .a {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sec7 .f .fle2 a {
    text-decoration: none;
    color: black;
  }
}
@media (max-width: 600px) {
  .sec7 .rght {
    display: none;
  }
  .sec7 .f {
    flex-direction: column;
    text-align: center;
  }
  .sec7 .f .fle {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .sec7 .f .fle .b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
  }
  .sec7 .f .fle .b a {
    text-decoration: none;
    color: black;
  }
  .sec7 .f .fle2 {
    gap: 1px;
  }
}
@media (max-width: 597px) {
  .sec7 {
    margin-top: 50px;
    background-image: url(../images/bg.png);
    width: 100%;
    background-size: cover;
  }
  .sec7 .f {
    display: flex;
    justify-content: space-between;
  }
  .sec7 .f .fle {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle a {
    text-decoration: none;
    color: black;
  }
  .sec7 .f .fle2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
  }
  .sec7 .f .fle2 a {
    text-decoration: none;
    color: black;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fbf9ec;
}

@media (max-width: 1190px) {
  .macl, .bosh {
    padding: 0px 15px;
  }
  .sec {
    padding: 0 15px;
  }
  .sec1 {
    padding: 0 15px;
  }
  .sec2 {
    padding: 0px 15px;
  }
  .about1 {
    padding: 0px 14px;
  }
  header {
    padding: 13px 14px;
  }
  .sec2 .f_aksi {
    padding: 0px 14px;
  }
  .sec2 .s_f {
    padding: 40px 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .sec2 .s_f .oxr-no {
    display: none;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec5 {
    padding: 0px 14px;
  }
  .sec6 {
    padding: 0px 14px;
  }
  .sec7 {
    padding: 0px 14px;
  }
}
#loading {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  transition: 0.5s;
}
#loading .cool-loader {
  width: 40px;
  height: 80px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 999;
}
#loading .cool-loader__inner {
  border-radius: 50%;
  animation: loader-animation 0.8s ease-out infinite;
  background: #5cb85c;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 9;
}
#loading .cool-loader__shadow {
  width: 40px;
  bottom: 2px;
  height: 5px;
  background: #000;
  opacity: 0.3;
  position: absolute;
  left: 0;
  border-radius: 50%;
  animation: shadow-animation 0.8s ease-out infinite;
}
@keyframes loader-animation {
  0% {
    top: 0;
    transform: scale(1, 1);
  }
  35% {
    transform: scale(1, 1);
    background: #5cb85c;
  }
  50% {
    top: 40px;
    transform: scale(1.2, 0.8);
    background: #449d44;
  }
  75% {
    transform: scale(0.8, 1.2);
  }
  100% {
    top: 0;
    transform: scale(1, 1);
    background: #5cb85c;
  }
}
@keyframes shadow-animation {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
  50% {
    transform: scale(1, 1);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
}
#loading .link {
  text-decoration: none;
  color: #2e77ea;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: crimson;
  color: #fff;
  width: 45px;
  height: 43px;
  right: 0;
  bottom: 90px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}

.scrollToTop-btn.active {
  right: 33px;
  opacity: 1;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.3s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.popups-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  pointer-events: none;
  transition: z-index 0s 0.8s;
}
.popups-cont.s--popup-active {
  z-index: 1000;
  pointer-events: auto;
  transition: z-index 0s 0s;
  background: rgba(252, 213, 186, 0.481);
}
.popups-cont__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.35s;
}
.popups-cont.s--popup-active .popups-cont__overlay {
  opacity: 1;
  transition: opacity 0.35s 0.35s;
}

.popup {
  z-index: 2;
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
}
.popup .popup__piece:nth-child(1) {
  height: 13.6666666667%;
  width: 12.6666666667%;
}
.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(1) {
  transform: translate3d(13vw, 8vh, -296px) rotateX(230deg) rotateY(357deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 56% 100%);
          clip-path: polygon(0 0, 0 100%, 56% 100%);
}
.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-7vw, 41vh, 651px) rotateX(380deg) rotateY(325deg);
  -webkit-clip-path: polygon(0 0, 56% 100%, 100% 0);
          clip-path: polygon(0 0, 56% 100%, 100% 0);
}
.popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-52vw, 24vh, -808px) rotateX(454deg) rotateY(250deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 56% 100%);
          clip-path: polygon(100% 0, 100% 100%, 56% 100%);
}
.popup.s--closed .popup__piece:nth-child(1) {
  transform: translate3d(0, 104vh, 0);
}
.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(1) {
  transform: translate3d(2vw, 0, 0) rotateX(261deg) rotateY(425deg);
}
.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(2) {
  transform: translate3d(49vw, 0, 0) rotateX(135deg) rotateY(422deg);
}
.popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-24vw, 0, 0) rotateX(404deg) rotateY(467deg);
}
.popup .popup__piece:nth-child(2) {
  height: 13.6666666667%;
  width: 18.6666666667%;
}
.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-25vw, 18vh, -24px) rotateX(344deg) rotateY(471deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 52% 100%);
          clip-path: polygon(0 0, 0 100%, 52% 100%);
}
.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(2) {
  transform: translate3d(38vw, -29vh, 843px) rotateX(251deg) rotateY(261deg);
  -webkit-clip-path: polygon(0 0, 52% 100%, 100% 0);
          clip-path: polygon(0 0, 52% 100%, 100% 0);
}
.popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(3) {
  transform: translate3d(29vw, 13vh, 465px) rotateX(458deg) rotateY(193deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 52% 100%);
          clip-path: polygon(100% 0, 100% 100%, 52% 100%);
}
.popup.s--closed .popup__piece:nth-child(2) {
  transform: translate3d(0, 136vh, 0);
}
.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(1) {
  transform: translate3d(29vw, 0, 0) rotateX(428deg) rotateY(140deg);
}
.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-45vw, 0, 0) rotateX(122deg) rotateY(330deg);
}
.popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-30vw, 0, 0) rotateX(222deg) rotateY(381deg);
}
.popup .popup__piece:nth-child(3) {
  height: 13.6666666667%;
  width: 19.6666666667%;
}
.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(1) {
  transform: translate3d(14vw, -39vh, -842px) rotateX(215deg) rotateY(378deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 57% 100%);
          clip-path: polygon(0 0, 0 100%, 57% 100%);
}
.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(2) {
  transform: translate3d(37vw, -32vh, -741px) rotateX(191deg) rotateY(221deg);
  -webkit-clip-path: polygon(0 0, 57% 100%, 100% 0);
          clip-path: polygon(0 0, 57% 100%, 100% 0);
}
.popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(3) {
  transform: translate3d(48vw, -50vh, 309px) rotateX(349deg) rotateY(377deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 57% 100%);
          clip-path: polygon(100% 0, 100% 100%, 57% 100%);
}
.popup.s--closed .popup__piece:nth-child(3) {
  transform: translate3d(0, 123vh, 0);
}
.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-9vw, 0, 0) rotateX(372deg) rotateY(396deg);
}
.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-23vw, 0, 0) rotateX(200deg) rotateY(444deg);
}
.popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-25vw, 0, 0) rotateX(190deg) rotateY(189deg);
}
.popup .popup__piece:nth-child(4) {
  height: 13.6666666667%;
  width: 12.6666666667%;
}
.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(1) {
  transform: translate3d(47vw, -45vh, 662px) rotateX(203deg) rotateY(359deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 39% 100%);
          clip-path: polygon(0 0, 0 100%, 39% 100%);
}
.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-14vw, -1vh, -455px) rotateX(261deg) rotateY(433deg);
  -webkit-clip-path: polygon(0 0, 39% 100%, 100% 0);
          clip-path: polygon(0 0, 39% 100%, 100% 0);
}
.popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(3) {
  transform: translate3d(42vw, -49vh, 428px) rotateX(225deg) rotateY(388deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 39% 100%);
          clip-path: polygon(100% 0, 100% 100%, 39% 100%);
}
.popup.s--closed .popup__piece:nth-child(4) {
  transform: translate3d(0, 144vh, 0);
}
.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(1) {
  transform: translate3d(48vw, 0, 0) rotateX(454deg) rotateY(178deg);
}
.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(2) {
  transform: translate3d(58vw, 0, 0) rotateX(310deg) rotateY(283deg);
}
.popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-59vw, 0, 0) rotateX(276deg) rotateY(237deg);
}
.popup .popup__piece:nth-child(5) {
  height: 13.6666666667%;
  width: 23.6666666667%;
}
.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-13vw, 58vh, -298px) rotateX(128deg) rotateY(437deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 36% 100%);
          clip-path: polygon(0 0, 0 100%, 36% 100%);
}
.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(2) {
  transform: translate3d(51vw, 14vh, -591px) rotateX(404deg) rotateY(217deg);
  -webkit-clip-path: polygon(0 0, 36% 100%, 100% 0);
          clip-path: polygon(0 0, 36% 100%, 100% 0);
}
.popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-47vw, 27vh, 15px) rotateX(275deg) rotateY(390deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 36% 100%);
          clip-path: polygon(100% 0, 100% 100%, 36% 100%);
}
.popup.s--closed .popup__piece:nth-child(5) {
  transform: translate3d(0, 145vh, 0);
}
.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(1) {
  transform: translate3d(45vw, 0, 0) rotateX(332deg) rotateY(319deg);
}
.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-5vw, 0, 0) rotateX(283deg) rotateY(299deg);
}
.popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(3) {
  transform: translate3d(1vw, 0, 0) rotateX(224deg) rotateY(158deg);
}
.popup .popup__piece:nth-child(6) {
  height: 13.6666666667%;
  width: 12.6666666667%;
}
.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(1) {
  transform: translate3d(54vw, 14vh, -398px) rotateX(138deg) rotateY(423deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 49% 100%);
          clip-path: polygon(0 0, 0 100%, 49% 100%);
}
.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(2) {
  transform: translate3d(8vw, -23vh, -476px) rotateX(279deg) rotateY(206deg);
  -webkit-clip-path: polygon(0 0, 49% 100%, 100% 0);
          clip-path: polygon(0 0, 49% 100%, 100% 0);
}
.popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(3) {
  transform: translate3d(15vw, 54vh, 530px) rotateX(375deg) rotateY(276deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 49% 100%);
          clip-path: polygon(100% 0, 100% 100%, 49% 100%);
}
.popup.s--closed .popup__piece:nth-child(6) {
  transform: translate3d(0, 118vh, 0);
}
.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-45vw, 0, 0) rotateX(383deg) rotateY(451deg);
}
.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(2) {
  transform: translate3d(40vw, 0, 0) rotateX(391deg) rotateY(206deg);
}
.popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-77vw, 0, 0) rotateX(283deg) rotateY(157deg);
}
.popup .popup__piece:nth-child(7) {
  height: 16.6666666667%;
  width: 15.6666666667%;
}
.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-10vw, -41vh, 225px) rotateX(188deg) rotateY(395deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 46% 100%);
          clip-path: polygon(0 0, 0 100%, 46% 100%);
}
.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(2) {
  transform: translate3d(33vw, -6vh, -391px) rotateX(164deg) rotateY(403deg);
  -webkit-clip-path: polygon(0 0, 46% 100%, 100% 0);
          clip-path: polygon(0 0, 46% 100%, 100% 0);
}
.popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-13vw, 2vh, -685px) rotateX(356deg) rotateY(141deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 46% 100%);
          clip-path: polygon(100% 0, 100% 100%, 46% 100%);
}
.popup.s--closed .popup__piece:nth-child(7) {
  transform: translate3d(0, 119vh, 0);
}
.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(1) {
  transform: translate3d(31vw, 0, 0) rotateX(453deg) rotateY(445deg);
}
.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-34vw, 0, 0) rotateX(175deg) rotateY(123deg);
}
.popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-70vw, 0, 0) rotateX(215deg) rotateY(429deg);
}
.popup .popup__piece:nth-child(8) {
  height: 16.6666666667%;
  width: 14.6666666667%;
}
.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-45vw, -6vh, 351px) rotateX(377deg) rotateY(372deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 41% 100%);
          clip-path: polygon(0 0, 0 100%, 41% 100%);
}
.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-59vw, 23vh, -716px) rotateX(196deg) rotateY(450deg);
  -webkit-clip-path: polygon(0 0, 41% 100%, 100% 0);
          clip-path: polygon(0 0, 41% 100%, 100% 0);
}
.popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-59vw, -54vh, -330px) rotateX(214deg) rotateY(340deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 41% 100%);
          clip-path: polygon(100% 0, 100% 100%, 41% 100%);
}
.popup.s--closed .popup__piece:nth-child(8) {
  transform: translate3d(0, 106vh, 0);
}
.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(1) {
  transform: translate3d(46vw, 0, 0) rotateX(420deg) rotateY(191deg);
}
.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(2) {
  transform: translate3d(62vw, 0, 0) rotateX(121deg) rotateY(257deg);
}
.popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-65vw, 0, 0) rotateX(144deg) rotateY(288deg);
}
.popup .popup__piece:nth-child(9) {
  height: 16.6666666667%;
  width: 14.6666666667%;
}
.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-31vw, -6vh, 829px) rotateX(427deg) rotateY(407deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 32% 100%);
          clip-path: polygon(0 0, 0 100%, 32% 100%);
}
.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(2) {
  transform: translate3d(33vw, -11vh, 167px) rotateX(441deg) rotateY(181deg);
  -webkit-clip-path: polygon(0 0, 32% 100%, 100% 0);
          clip-path: polygon(0 0, 32% 100%, 100% 0);
}
.popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-19vw, -38vh, -459px) rotateX(267deg) rotateY(253deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 32% 100%);
          clip-path: polygon(100% 0, 100% 100%, 32% 100%);
}
.popup.s--closed .popup__piece:nth-child(9) {
  transform: translate3d(0, 145vh, 0);
}
.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(1) {
  transform: translate3d(24vw, 0, 0) rotateX(332deg) rotateY(270deg);
}
.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-20vw, 0, 0) rotateX(215deg) rotateY(374deg);
}
.popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(3) {
  transform: translate3d(60vw, 0, 0) rotateX(121deg) rotateY(367deg);
}
.popup .popup__piece:nth-child(10) {
  height: 16.6666666667%;
  width: 16.6666666667%;
}
.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(1) {
  transform: translate3d(54vw, 10vh, -629px) rotateX(284deg) rotateY(122deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 60% 100%);
          clip-path: polygon(0 0, 0 100%, 60% 100%);
}
.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-45vw, -27vh, -349px) rotateX(473deg) rotateY(454deg);
  -webkit-clip-path: polygon(0 0, 60% 100%, 100% 0);
          clip-path: polygon(0 0, 60% 100%, 100% 0);
}
.popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-54vw, 30vh, -591px) rotateX(416deg) rotateY(430deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 60% 100%);
          clip-path: polygon(100% 0, 100% 100%, 60% 100%);
}
.popup.s--closed .popup__piece:nth-child(10) {
  transform: translate3d(0, 108vh, 0);
}
.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-41vw, 0, 0) rotateX(172deg) rotateY(449deg);
}
.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(2) {
  transform: translate3d(3vw, 0, 0) rotateX(313deg) rotateY(183deg);
}
.popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(3) {
  transform: translate3d(50vw, 0, 0) rotateX(363deg) rotateY(338deg);
}
.popup .popup__piece:nth-child(11) {
  height: 16.6666666667%;
  width: 21.6666666667%;
}
.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(1) {
  transform: translate3d(17vw, -26vh, -183px) rotateX(338deg) rotateY(421deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 42% 100%);
          clip-path: polygon(0 0, 0 100%, 42% 100%);
}
.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-43vw, -38vh, 529px) rotateX(237deg) rotateY(143deg);
  -webkit-clip-path: polygon(0 0, 42% 100%, 100% 0);
          clip-path: polygon(0 0, 42% 100%, 100% 0);
}
.popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(3) {
  transform: translate3d(27vw, -36vh, -444px) rotateX(405deg) rotateY(321deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 42% 100%);
          clip-path: polygon(100% 0, 100% 100%, 42% 100%);
}
.popup.s--closed .popup__piece:nth-child(11) {
  transform: translate3d(0, 148vh, 0);
}
.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(1) {
  transform: translate3d(33vw, 0, 0) rotateX(151deg) rotateY(408deg);
}
.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(2) {
  transform: translate3d(14vw, 0, 0) rotateX(135deg) rotateY(396deg);
}
.popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-73vw, 0, 0) rotateX(346deg) rotateY(457deg);
}
.popup .popup__piece:nth-child(12) {
  height: 16.6666666667%;
  width: 16.6666666667%;
}
.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(1) {
  transform: translate3d(3vw, 23vh, -147px) rotateX(130deg) rotateY(360deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 55% 100%);
          clip-path: polygon(0 0, 0 100%, 55% 100%);
}
.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(2) {
  transform: translate3d(39vw, -34vh, 395px) rotateX(259deg) rotateY(442deg);
  -webkit-clip-path: polygon(0 0, 55% 100%, 100% 0);
          clip-path: polygon(0 0, 55% 100%, 100% 0);
}
.popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(3) {
  transform: translate3d(47vw, 24vh, 420px) rotateX(344deg) rotateY(451deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 55% 100%);
          clip-path: polygon(100% 0, 100% 100%, 55% 100%);
}
.popup.s--closed .popup__piece:nth-child(12) {
  transform: translate3d(0, 143vh, 0);
}
.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(1) {
  transform: translate3d(52vw, 0, 0) rotateX(377deg) rotateY(340deg);
}
.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-33vw, 0, 0) rotateX(198deg) rotateY(467deg);
}
.popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-47vw, 0, 0) rotateX(389deg) rotateY(245deg);
}
.popup .popup__piece:nth-child(13) {
  height: 12.6666666667%;
  width: 19.6666666667%;
}
.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-13vw, -42vh, 164px) rotateX(360deg) rotateY(244deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 47% 100%);
          clip-path: polygon(0 0, 0 100%, 47% 100%);
}
.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-56vw, -8vh, 504px) rotateX(406deg) rotateY(129deg);
  -webkit-clip-path: polygon(0 0, 47% 100%, 100% 0);
          clip-path: polygon(0 0, 47% 100%, 100% 0);
}
.popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(3) {
  transform: translate3d(32vw, 29vh, 722px) rotateX(198deg) rotateY(153deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 47% 100%);
          clip-path: polygon(100% 0, 100% 100%, 47% 100%);
}
.popup.s--closed .popup__piece:nth-child(13) {
  transform: translate3d(0, 105vh, 0);
}
.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-19vw, 0, 0) rotateX(164deg) rotateY(301deg);
}
.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-63vw, 0, 0) rotateX(415deg) rotateY(472deg);
}
.popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-36vw, 0, 0) rotateX(244deg) rotateY(258deg);
}
.popup .popup__piece:nth-child(14) {
  height: 12.6666666667%;
  width: 21.6666666667%;
}
.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-2vw, 58vh, 666px) rotateX(182deg) rotateY(452deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 56% 100%);
          clip-path: polygon(0 0, 0 100%, 56% 100%);
}
.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(2) {
  transform: translate3d(12vw, 51vh, 883px) rotateX(284deg) rotateY(289deg);
  -webkit-clip-path: polygon(0 0, 56% 100%, 100% 0);
          clip-path: polygon(0 0, 56% 100%, 100% 0);
}
.popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(3) {
  transform: translate3d(25vw, 44vh, -143px) rotateX(178deg) rotateY(235deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 56% 100%);
          clip-path: polygon(100% 0, 100% 100%, 56% 100%);
}
.popup.s--closed .popup__piece:nth-child(14) {
  transform: translate3d(0, 108vh, 0);
}
.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(1) {
  transform: translate3d(74vw, 0, 0) rotateX(336deg) rotateY(316deg);
}
.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(2) {
  transform: translate3d(16vw, 0, 0) rotateX(432deg) rotateY(268deg);
}
.popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-61vw, 0, 0) rotateX(170deg) rotateY(156deg);
}
.popup .popup__piece:nth-child(15) {
  height: 12.6666666667%;
  width: 21.6666666667%;
}
.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-51vw, 35vh, -45px) rotateX(182deg) rotateY(163deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 65% 100%);
          clip-path: polygon(0 0, 0 100%, 65% 100%);
}
.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-1vw, 34vh, -692px) rotateX(422deg) rotateY(125deg);
  -webkit-clip-path: polygon(0 0, 65% 100%, 100% 0);
          clip-path: polygon(0 0, 65% 100%, 100% 0);
}
.popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(3) {
  transform: translate3d(44vw, 34vh, -323px) rotateX(362deg) rotateY(339deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 65% 100%);
          clip-path: polygon(100% 0, 100% 100%, 65% 100%);
}
.popup.s--closed .popup__piece:nth-child(15) {
  transform: translate3d(0, 143vh, 0);
}
.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(1) {
  transform: translate3d(22vw, 0, 0) rotateX(320deg) rotateY(402deg);
}
.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-29vw, 0, 0) rotateX(298deg) rotateY(293deg);
}
.popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(3) {
  transform: translate3d(24vw, 0, 0) rotateX(208deg) rotateY(366deg);
}
.popup .popup__piece:nth-child(16) {
  height: 12.6666666667%;
  width: 17.6666666667%;
}
.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(1) {
  transform: translate3d(25vw, 31vh, 16px) rotateX(343deg) rotateY(373deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 53% 100%);
          clip-path: polygon(0 0, 0 100%, 53% 100%);
}
.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-29vw, -13vh, 440px) rotateX(347deg) rotateY(317deg);
  -webkit-clip-path: polygon(0 0, 53% 100%, 100% 0);
          clip-path: polygon(0 0, 53% 100%, 100% 0);
}
.popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-19vw, -26vh, -693px) rotateX(429deg) rotateY(152deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 53% 100%);
          clip-path: polygon(100% 0, 100% 100%, 53% 100%);
}
.popup.s--closed .popup__piece:nth-child(16) {
  transform: translate3d(0, 132vh, 0);
}
.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(1) {
  transform: translate3d(58vw, 0, 0) rotateX(305deg) rotateY(214deg);
}
.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(2) {
  transform: translate3d(56vw, 0, 0) rotateX(433deg) rotateY(410deg);
}
.popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-12vw, 0, 0) rotateX(414deg) rotateY(410deg);
}
.popup .popup__piece:nth-child(17) {
  height: 12.6666666667%;
  width: 6.6666666667%;
}
.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(1) {
  transform: translate3d(7vw, 48vh, -194px) rotateX(268deg) rotateY(331deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 33% 100%);
          clip-path: polygon(0 0, 0 100%, 33% 100%);
}
.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-41vw, -24vh, 653px) rotateX(205deg) rotateY(275deg);
  -webkit-clip-path: polygon(0 0, 33% 100%, 100% 0);
          clip-path: polygon(0 0, 33% 100%, 100% 0);
}
.popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-35vw, -59vh, -833px) rotateX(472deg) rotateY(428deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 33% 100%);
          clip-path: polygon(100% 0, 100% 100%, 33% 100%);
}
.popup.s--closed .popup__piece:nth-child(17) {
  transform: translate3d(0, 128vh, 0);
}
.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-8vw, 0, 0) rotateX(410deg) rotateY(242deg);
}
.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(2) {
  transform: translate3d(65vw, 0, 0) rotateX(123deg) rotateY(465deg);
}
.popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(3) {
  transform: translate3d(65vw, 0, 0) rotateX(314deg) rotateY(298deg);
}
.popup .popup__piece:nth-child(18) {
  height: 12.6666666667%;
  width: 12.6666666667%;
}
.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-20vw, -44vh, -167px) rotateX(244deg) rotateY(121deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 31% 100%);
          clip-path: polygon(0 0, 0 100%, 31% 100%);
}
.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-22vw, 36vh, 431px) rotateX(127deg) rotateY(204deg);
  -webkit-clip-path: polygon(0 0, 31% 100%, 100% 0);
          clip-path: polygon(0 0, 31% 100%, 100% 0);
}
.popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(3) {
  transform: translate3d(60vw, 47vh, 595px) rotateX(152deg) rotateY(430deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 31% 100%);
          clip-path: polygon(100% 0, 100% 100%, 31% 100%);
}
.popup.s--closed .popup__piece:nth-child(18) {
  transform: translate3d(0, 128vh, 0);
}
.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-1vw, 0, 0) rotateX(372deg) rotateY(300deg);
}
.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(2) {
  transform: translate3d(16vw, 0, 0) rotateX(160deg) rotateY(293deg);
}
.popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(3) {
  transform: translate3d(39vw, 0, 0) rotateX(404deg) rotateY(452deg);
}
.popup .popup__piece:nth-child(19) {
  height: 18.6666666667%;
  width: 15.6666666667%;
}
.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-57vw, -42vh, 829px) rotateX(430deg) rotateY(352deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 36% 100%);
          clip-path: polygon(0 0, 0 100%, 36% 100%);
}
.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-19vw, 58vh, -387px) rotateX(122deg) rotateY(400deg);
  -webkit-clip-path: polygon(0 0, 36% 100%, 100% 0);
          clip-path: polygon(0 0, 36% 100%, 100% 0);
}
.popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-10vw, -49vh, -226px) rotateX(366deg) rotateY(147deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 36% 100%);
          clip-path: polygon(100% 0, 100% 100%, 36% 100%);
}
.popup.s--closed .popup__piece:nth-child(19) {
  transform: translate3d(0, 137vh, 0);
}
.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-12vw, 0, 0) rotateX(303deg) rotateY(141deg);
}
.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-19vw, 0, 0) rotateX(126deg) rotateY(409deg);
}
.popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-48vw, 0, 0) rotateX(306deg) rotateY(396deg);
}
.popup .popup__piece:nth-child(20) {
  height: 18.6666666667%;
  width: 15.6666666667%;
}
.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(1) {
  transform: translate3d(5vw, 2vh, 19px) rotateX(439deg) rotateY(316deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 44% 100%);
          clip-path: polygon(0 0, 0 100%, 44% 100%);
}
.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(2) {
  transform: translate3d(27vw, 20vh, -221px) rotateX(450deg) rotateY(412deg);
  -webkit-clip-path: polygon(0 0, 44% 100%, 100% 0);
          clip-path: polygon(0 0, 44% 100%, 100% 0);
}
.popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(3) {
  transform: translate3d(18vw, 12vh, 253px) rotateX(275deg) rotateY(162deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 44% 100%);
          clip-path: polygon(100% 0, 100% 100%, 44% 100%);
}
.popup.s--closed .popup__piece:nth-child(20) {
  transform: translate3d(0, 101vh, 0);
}
.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(1) {
  transform: translate3d(26vw, 0, 0) rotateX(398deg) rotateY(413deg);
}
.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(2) {
  transform: translate3d(38vw, 0, 0) rotateX(144deg) rotateY(167deg);
}
.popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(3) {
  transform: translate3d(59vw, 0, 0) rotateX(426deg) rotateY(283deg);
}
.popup .popup__piece:nth-child(21) {
  height: 18.6666666667%;
  width: 14.6666666667%;
}
.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(1) {
  transform: translate3d(12vw, -4vh, 550px) rotateX(395deg) rotateY(266deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 46% 100%);
          clip-path: polygon(0 0, 0 100%, 46% 100%);
}
.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(2) {
  transform: translate3d(43vw, 22vh, 750px) rotateX(241deg) rotateY(427deg);
  -webkit-clip-path: polygon(0 0, 46% 100%, 100% 0);
          clip-path: polygon(0 0, 46% 100%, 100% 0);
}
.popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(3) {
  transform: translate3d(24vw, 18vh, -136px) rotateX(425deg) rotateY(208deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 46% 100%);
          clip-path: polygon(100% 0, 100% 100%, 46% 100%);
}
.popup.s--closed .popup__piece:nth-child(21) {
  transform: translate3d(0, 105vh, 0);
}
.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-26vw, 0, 0) rotateX(226deg) rotateY(238deg);
}
.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-54vw, 0, 0) rotateX(364deg) rotateY(199deg);
}
.popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(3) {
  transform: translate3d(54vw, 0, 0) rotateX(453deg) rotateY(238deg);
}
.popup .popup__piece:nth-child(22) {
  height: 18.6666666667%;
  width: 16.6666666667%;
}
.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(1) {
  transform: translate3d(18vw, 43vh, 653px) rotateX(146deg) rotateY(153deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 52% 100%);
          clip-path: polygon(0 0, 0 100%, 52% 100%);
}
.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(2) {
  transform: translate3d(56vw, 30vh, -651px) rotateX(144deg) rotateY(225deg);
  -webkit-clip-path: polygon(0 0, 52% 100%, 100% 0);
          clip-path: polygon(0 0, 52% 100%, 100% 0);
}
.popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-10vw, 16vh, 462px) rotateX(480deg) rotateY(239deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 52% 100%);
          clip-path: polygon(100% 0, 100% 100%, 52% 100%);
}
.popup.s--closed .popup__piece:nth-child(22) {
  transform: translate3d(0, 150vh, 0);
}
.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(1) {
  transform: translate3d(35vw, 0, 0) rotateX(229deg) rotateY(200deg);
}
.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-8vw, 0, 0) rotateX(367deg) rotateY(330deg);
}
.popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-25vw, 0, 0) rotateX(436deg) rotateY(191deg);
}
.popup .popup__piece:nth-child(23) {
  height: 18.6666666667%;
  width: 21.6666666667%;
}
.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(1) {
  transform: translate3d(45vw, -2vh, -869px) rotateX(364deg) rotateY(139deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 36% 100%);
          clip-path: polygon(0 0, 0 100%, 36% 100%);
}
.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-2vw, 47vh, 642px) rotateX(345deg) rotateY(347deg);
  -webkit-clip-path: polygon(0 0, 36% 100%, 100% 0);
          clip-path: polygon(0 0, 36% 100%, 100% 0);
}
.popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-56vw, -43vh, -88px) rotateX(357deg) rotateY(462deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 36% 100%);
          clip-path: polygon(100% 0, 100% 100%, 36% 100%);
}
.popup.s--closed .popup__piece:nth-child(23) {
  transform: translate3d(0, 123vh, 0);
}
.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-13vw, 0, 0) rotateX(143deg) rotateY(261deg);
}
.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(2) {
  transform: translate3d(63vw, 0, 0) rotateX(247deg) rotateY(249deg);
}
.popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(3) {
  transform: translate3d(24vw, 0, 0) rotateX(214deg) rotateY(161deg);
}
.popup .popup__piece:nth-child(24) {
  height: 18.6666666667%;
  width: 15.6666666667%;
}
.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(1) {
  transform: translate3d(17vw, 38vh, 675px) rotateX(177deg) rotateY(392deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 62% 100%);
          clip-path: polygon(0 0, 0 100%, 62% 100%);
}
.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-14vw, -26vh, -39px) rotateX(466deg) rotateY(208deg);
  -webkit-clip-path: polygon(0 0, 62% 100%, 100% 0);
          clip-path: polygon(0 0, 62% 100%, 100% 0);
}
.popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-35vw, -53vh, -112px) rotateX(254deg) rotateY(250deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 62% 100%);
          clip-path: polygon(100% 0, 100% 100%, 62% 100%);
}
.popup.s--closed .popup__piece:nth-child(24) {
  transform: translate3d(0, 125vh, 0);
}
.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(1) {
  transform: translate3d(19vw, 0, 0) rotateX(239deg) rotateY(146deg);
}
.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-47vw, 0, 0) rotateX(423deg) rotateY(157deg);
}
.popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-51vw, 0, 0) rotateX(151deg) rotateY(466deg);
}
.popup .popup__piece:nth-child(25) {
  height: 13.6666666667%;
  width: 12.6666666667%;
}
.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-46vw, -44vh, 752px) rotateX(291deg) rotateY(474deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 62% 100%);
          clip-path: polygon(0 0, 0 100%, 62% 100%);
}
.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-52vw, 60vh, 741px) rotateX(319deg) rotateY(394deg);
  -webkit-clip-path: polygon(0 0, 62% 100%, 100% 0);
          clip-path: polygon(0 0, 62% 100%, 100% 0);
}
.popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-45vw, 60vh, -143px) rotateX(317deg) rotateY(198deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 62% 100%);
          clip-path: polygon(100% 0, 100% 100%, 62% 100%);
}
.popup.s--closed .popup__piece:nth-child(25) {
  transform: translate3d(0, 137vh, 0);
}
.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(1) {
  transform: translate3d(70vw, 0, 0) rotateX(393deg) rotateY(254deg);
}
.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-30vw, 0, 0) rotateX(332deg) rotateY(257deg);
}
.popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(3) {
  transform: translate3d(39vw, 0, 0) rotateX(351deg) rotateY(216deg);
}
.popup .popup__piece:nth-child(26) {
  height: 13.6666666667%;
  width: 15.6666666667%;
}
.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-19vw, 34vh, 582px) rotateX(400deg) rotateY(423deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 70% 100%);
          clip-path: polygon(0 0, 0 100%, 70% 100%);
}
.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-54vw, -17vh, -598px) rotateX(459deg) rotateY(439deg);
  -webkit-clip-path: polygon(0 0, 70% 100%, 100% 0);
          clip-path: polygon(0 0, 70% 100%, 100% 0);
}
.popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-58vw, 41vh, -615px) rotateX(320deg) rotateY(223deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 70% 100%);
          clip-path: polygon(100% 0, 100% 100%, 70% 100%);
}
.popup.s--closed .popup__piece:nth-child(26) {
  transform: translate3d(0, 128vh, 0);
}
.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-57vw, 0, 0) rotateX(437deg) rotateY(279deg);
}
.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(2) {
  transform: translate3d(63vw, 0, 0) rotateX(463deg) rotateY(287deg);
}
.popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(3) {
  transform: translate3d(78vw, 0, 0) rotateX(415deg) rotateY(188deg);
}
.popup .popup__piece:nth-child(27) {
  height: 13.6666666667%;
  width: 20.6666666667%;
}
.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-17vw, -57vh, -554px) rotateX(384deg) rotateY(437deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 56% 100%);
          clip-path: polygon(0 0, 0 100%, 56% 100%);
}
.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(2) {
  transform: translate3d(51vw, -52vh, -301px) rotateX(429deg) rotateY(226deg);
  -webkit-clip-path: polygon(0 0, 56% 100%, 100% 0);
          clip-path: polygon(0 0, 56% 100%, 100% 0);
}
.popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(3) {
  transform: translate3d(23vw, 14vh, 69px) rotateX(157deg) rotateY(375deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 56% 100%);
          clip-path: polygon(100% 0, 100% 100%, 56% 100%);
}
.popup.s--closed .popup__piece:nth-child(27) {
  transform: translate3d(0, 116vh, 0);
}
.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(1) {
  transform: translate3d(41vw, 0, 0) rotateX(356deg) rotateY(248deg);
}
.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(2) {
  transform: translate3d(70vw, 0, 0) rotateX(439deg) rotateY(167deg);
}
.popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(3) {
  transform: translate3d(6vw, 0, 0) rotateX(406deg) rotateY(396deg);
}
.popup .popup__piece:nth-child(28) {
  height: 13.6666666667%;
  width: 18.6666666667%;
}
.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-40vw, -10vh, 413px) rotateX(394deg) rotateY(341deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 35% 100%);
          clip-path: polygon(0 0, 0 100%, 35% 100%);
}
.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(2) {
  transform: translate3d(8vw, 13vh, 215px) rotateX(166deg) rotateY(475deg);
  -webkit-clip-path: polygon(0 0, 35% 100%, 100% 0);
          clip-path: polygon(0 0, 35% 100%, 100% 0);
}
.popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-18vw, 32vh, -856px) rotateX(242deg) rotateY(167deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 35% 100%);
          clip-path: polygon(100% 0, 100% 100%, 35% 100%);
}
.popup.s--closed .popup__piece:nth-child(28) {
  transform: translate3d(0, 107vh, 0);
}
.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-46vw, 0, 0) rotateX(349deg) rotateY(436deg);
}
.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(2) {
  transform: translate3d(78vw, 0, 0) rotateX(364deg) rotateY(457deg);
}
.popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-76vw, 0, 0) rotateX(456deg) rotateY(249deg);
}
.popup .popup__piece:nth-child(29) {
  height: 13.6666666667%;
  width: 13.6666666667%;
}
.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-4vw, -42vh, -110px) rotateX(124deg) rotateY(421deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 58% 100%);
          clip-path: polygon(0 0, 0 100%, 58% 100%);
}
.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-50vw, -5vh, -317px) rotateX(170deg) rotateY(311deg);
  -webkit-clip-path: polygon(0 0, 58% 100%, 100% 0);
          clip-path: polygon(0 0, 58% 100%, 100% 0);
}
.popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-43vw, -55vh, 849px) rotateX(266deg) rotateY(479deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 58% 100%);
          clip-path: polygon(100% 0, 100% 100%, 58% 100%);
}
.popup.s--closed .popup__piece:nth-child(29) {
  transform: translate3d(0, 140vh, 0);
}
.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(1) {
  transform: translate3d(63vw, 0, 0) rotateX(205deg) rotateY(266deg);
}
.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(2) {
  transform: translate3d(79vw, 0, 0) rotateX(226deg) rotateY(234deg);
}
.popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(3) {
  transform: translate3d(11vw, 0, 0) rotateX(323deg) rotateY(389deg);
}
.popup .popup__piece:nth-child(30) {
  height: 13.6666666667%;
  width: 18.6666666667%;
}
.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-54vw, -38vh, -132px) rotateX(470deg) rotateY(168deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 48% 100%);
          clip-path: polygon(0 0, 0 100%, 48% 100%);
}
.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-20vw, 48vh, -46px) rotateX(228deg) rotateY(424deg);
  -webkit-clip-path: polygon(0 0, 48% 100%, 100% 0);
          clip-path: polygon(0 0, 48% 100%, 100% 0);
}
.popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-13vw, 42vh, 711px) rotateX(129deg) rotateY(165deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 48% 100%);
          clip-path: polygon(100% 0, 100% 100%, 48% 100%);
}
.popup.s--closed .popup__piece:nth-child(30) {
  transform: translate3d(0, 126vh, 0);
}
.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(1) {
  transform: translate3d(73vw, 0, 0) rotateX(186deg) rotateY(127deg);
}
.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-34vw, 0, 0) rotateX(304deg) rotateY(421deg);
}
.popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-8vw, 0, 0) rotateX(201deg) rotateY(126deg);
}
.popup .popup__piece:nth-child(31) {
  height: 24.6666666667%;
  width: 13.6666666667%;
}
.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(1) {
  transform: translate3d(1vw, -26vh, 775px) rotateX(346deg) rotateY(206deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 62% 100%);
          clip-path: polygon(0 0, 0 100%, 62% 100%);
}
.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(2) {
  transform: translate3d(0vw, -15vh, -782px) rotateX(216deg) rotateY(417deg);
  -webkit-clip-path: polygon(0 0, 62% 100%, 100% 0);
          clip-path: polygon(0 0, 62% 100%, 100% 0);
}
.popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(3) {
  transform: translate3d(39vw, -9vh, 124px) rotateX(353deg) rotateY(122deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 62% 100%);
          clip-path: polygon(100% 0, 100% 100%, 62% 100%);
}
.popup.s--closed .popup__piece:nth-child(31) {
  transform: translate3d(0, 140vh, 0);
}
.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(1) {
  transform: translate3d(40vw, 0, 0) rotateX(439deg) rotateY(184deg);
}
.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(2) {
  transform: translate3d(69vw, 0, 0) rotateX(160deg) rotateY(237deg);
}
.popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(3) {
  transform: translate3d(24vw, 0, 0) rotateX(205deg) rotateY(267deg);
}
.popup .popup__piece:nth-child(32) {
  height: 24.6666666667%;
  width: 14.6666666667%;
}
.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(1) {
  transform: translate3d(59vw, -32vh, -175px) rotateX(348deg) rotateY(458deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 38% 100%);
          clip-path: polygon(0 0, 0 100%, 38% 100%);
}
.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(2) {
  transform: translate3d(18vw, 40vh, -431px) rotateX(427deg) rotateY(149deg);
  -webkit-clip-path: polygon(0 0, 38% 100%, 100% 0);
          clip-path: polygon(0 0, 38% 100%, 100% 0);
}
.popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-32vw, -43vh, -40px) rotateX(258deg) rotateY(227deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 38% 100%);
          clip-path: polygon(100% 0, 100% 100%, 38% 100%);
}
.popup.s--closed .popup__piece:nth-child(32) {
  transform: translate3d(0, 144vh, 0);
}
.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-54vw, 0, 0) rotateX(162deg) rotateY(456deg);
}
.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(2) {
  transform: translate3d(12vw, 0, 0) rotateX(189deg) rotateY(150deg);
}
.popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(3) {
  transform: translate3d(18vw, 0, 0) rotateX(378deg) rotateY(193deg);
}
.popup .popup__piece:nth-child(33) {
  height: 24.6666666667%;
  width: 21.6666666667%;
}
.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-18vw, -37vh, 485px) rotateX(357deg) rotateY(229deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 68% 100%);
          clip-path: polygon(0 0, 0 100%, 68% 100%);
}
.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-47vw, -3vh, -284px) rotateX(270deg) rotateY(242deg);
  -webkit-clip-path: polygon(0 0, 68% 100%, 100% 0);
          clip-path: polygon(0 0, 68% 100%, 100% 0);
}
.popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(3) {
  transform: translate3d(39vw, 58vh, 295px) rotateX(329deg) rotateY(184deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 68% 100%);
          clip-path: polygon(100% 0, 100% 100%, 68% 100%);
}
.popup.s--closed .popup__piece:nth-child(33) {
  transform: translate3d(0, 127vh, 0);
}
.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-2vw, 0, 0) rotateX(448deg) rotateY(184deg);
}
.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(2) {
  transform: translate3d(61vw, 0, 0) rotateX(149deg) rotateY(223deg);
}
.popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-33vw, 0, 0) rotateX(215deg) rotateY(210deg);
}
.popup .popup__piece:nth-child(34) {
  height: 24.6666666667%;
  width: 19.6666666667%;
}
.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-29vw, -51vh, -262px) rotateX(369deg) rotateY(147deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 68% 100%);
          clip-path: polygon(0 0, 0 100%, 68% 100%);
}
.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-54vw, 10vh, -195px) rotateX(396deg) rotateY(462deg);
  -webkit-clip-path: polygon(0 0, 68% 100%, 100% 0);
          clip-path: polygon(0 0, 68% 100%, 100% 0);
}
.popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-12vw, -39vh, -498px) rotateX(241deg) rotateY(139deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 68% 100%);
          clip-path: polygon(100% 0, 100% 100%, 68% 100%);
}
.popup.s--closed .popup__piece:nth-child(34) {
  transform: translate3d(0, 120vh, 0);
}
.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-63vw, 0, 0) rotateX(440deg) rotateY(419deg);
}
.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-7vw, 0, 0) rotateX(317deg) rotateY(234deg);
}
.popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(3) {
  transform: translate3d(66vw, 0, 0) rotateX(201deg) rotateY(406deg);
}
.popup .popup__piece:nth-child(35) {
  height: 24.6666666667%;
  width: 15.6666666667%;
}
.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(1) {
  transform: translate3d(-59vw, -41vh, 779px) rotateX(211deg) rotateY(324deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 69% 100%);
          clip-path: polygon(0 0, 0 100%, 69% 100%);
}
.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-31vw, 3vh, 558px) rotateX(187deg) rotateY(464deg);
  -webkit-clip-path: polygon(0 0, 69% 100%, 100% 0);
          clip-path: polygon(0 0, 69% 100%, 100% 0);
}
.popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-14vw, -58vh, 165px) rotateX(239deg) rotateY(390deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 69% 100%);
          clip-path: polygon(100% 0, 100% 100%, 69% 100%);
}
.popup.s--closed .popup__piece:nth-child(35) {
  transform: translate3d(0, 131vh, 0);
}
.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(1) {
  transform: translate3d(75vw, 0, 0) rotateX(390deg) rotateY(137deg);
}
.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-6vw, 0, 0) rotateX(417deg) rotateY(171deg);
}
.popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(3) {
  transform: translate3d(15vw, 0, 0) rotateX(410deg) rotateY(236deg);
}
.popup .popup__piece:nth-child(36) {
  height: 24.6666666667%;
  width: 14.6666666667%;
}
.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(1) {
  transform: translate3d(46vw, -46vh, -426px) rotateX(274deg) rotateY(205deg);
  -webkit-clip-path: polygon(0 0, 0 100%, 66% 100%);
          clip-path: polygon(0 0, 0 100%, 66% 100%);
}
.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(2) {
  transform: translate3d(-10vw, 43vh, 206px) rotateX(187deg) rotateY(193deg);
  -webkit-clip-path: polygon(0 0, 66% 100%, 100% 0);
          clip-path: polygon(0 0, 66% 100%, 100% 0);
}
.popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(3) {
  transform: translate3d(-2vw, 19vh, 378px) rotateX(181deg) rotateY(423deg);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 66% 100%);
          clip-path: polygon(100% 0, 100% 100%, 66% 100%);
}
.popup.s--closed .popup__piece:nth-child(36) {
  transform: translate3d(0, 116vh, 0);
}
.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(1) {
  transform: translate3d(33vw, 0, 0) rotateX(189deg) rotateY(246deg);
}
.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(2) {
  transform: translate3d(12vw, 0, 0) rotateX(175deg) rotateY(336deg);
}
.popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(3) {
  transform: translate3d(53vw, 0, 0) rotateX(123deg) rotateY(462deg);
}
.popup .fl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup .fl input {
  outline: none;
  box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
  border: 1px solid #70C05B;
  padding: 23px 0;
}
.popup .fl button {
  width: 100%;
}
.popup .fl .y {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.popup .fl .y a {
  text-decoration: none;
  color: #606060;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
}
.popup .fl .y a:hover {
  border: 1px solid #70C05B;
  padding: 10px;
  border-radius: 5px;
}
.popup__pieces {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.popup__piece {
  float: left;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0s 0s;
}
.popup.s--closed .popup__piece {
  transition: transform 0.7s 0.1s cubic-bezier(0.69, -0.47, 0.97, 1.04);
}
.popup__piece:after {
  content: "";
  display: table;
  clear: both;
}
.popup__piece-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.28s 0.55s ease-in, transform 0.7s 0.1s ease-out;
  border-radius: 12px;
}
.popup.s--active .popup__piece-inner {
  transition: opacity 0.35s, transform 0.7s ease-in-out;
  transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) !important;
  opacity: 1;
}
.popup__content {
  position: relative;
  min-height: 500px;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
  color: black;
  transition: opacity 0.2s;
  opacity: 0;
  border-radius: 7px;
}
.popup.s--active .popup__content {
  transition-delay: 0.6s;
  opacity: 1;
}
.popup__close {
  position: absolute;
  right: 4px;
  top: 1px;
  width: 20px;
  height: 25px;
  cursor: pointer;
}
.popup__close:before, .popup__close:after {
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  width: 100%;
  height: 2px;
  background: black;
}
.popup__close:before {
  transform: rotate(45deg);
}
.popup__close:after {
  transform: rotate(-45deg);
}
.popup__heading {
  font-size: 30px;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
}
.popup__text {
  font-size: 18px;
  line-height: 1.5;
}

.popup-btn {
  background: transparent;
  color: #000;
  transition: all 0.3s;
  cursor: pointer;
}

.sec1 .slider {
  width: 100%;
  overflow: hidden;
}
.sec1 figure {
  position: relative;
  left: 0;
  width: 400%; /* width dikali slide */
  animation: 10s slide infinite;
}
.sec1 .slide {
  position: relative;
  width: 25%; /* width dibagi slide */
  float: left;
}
.sec1 .slide h1 {
  position: absolute;
  font-size: 3em;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.sec1 .slide img {
  width: 100%;
}
@keyframes slide {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  70% {
    left: -200%;
  }
  90% {
    left: -200%;
  }
  90% {
    left: 0;
  }
  1000% {
    left: 0;
  }
}

.sec2 {
  margin-bottom: 90px;
}
.sec2 .f_aksi {
  font-family: "Rubik";
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .s_f {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.sec2 .s_f .box {
  background-color: white;
  width: 96%;
  border-radius: 9px;
  transition: 0.5s;
}
.sec2 .s_f .box p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.sec2 .s_f .box .ras {
  position: relative;
}
.sec2 .s_f .box .ras .s {
  width: 100%;
}
.sec2 .s_f .box .ras .po {
  padding: 0px 10px;
  top: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.sec2 .s_f .box .ras .sf img:hover {
  background-color: red;
}
.sec2 .s_f .box .ras .tx {
  display: none;
  position: absolute;
  top: 120px;
  left: 10px;
  width: 56px;
  padding: 10px 0;
  color: white;
  background: #FF6633;
  border-radius: 4px;
  text-align: center;
}
.sec2 .s_f .box .pastki {
  padding: 10px 10px;
}
.sec2 .s_f .box .pastki .fle {
  display: flex;
  justify-content: space-between;
}
.sec2 .s_f .box .pastki .button.dark {
  --background: #2F3545;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}
.sec2 .s_f .box .pastki .button {
  --background: white;
  --text: #70C05B;
  --font-size: 18.5px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 10px 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 7px;
  width: 100%;
  text-align: center;
  display: block;
  align-items: center;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  border: 1px solid #70C05B;
}
.sec2 .s_f .box .pastki .button div {
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.sec2 .s_f .box .pastki .button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.sec2 .s_f .box .pastki .button div span:nth-child(1) {
  transition-delay: 0.05s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(2) {
  transition-delay: 0.1s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(3) {
  transition-delay: 0.15s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(4) {
  transition-delay: 0.2s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(5) {
  transition-delay: 0.25s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(6) {
  transition-delay: 0.3s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(7) {
  transition-delay: 0.35s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(8) {
  transition-delay: 0.4s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(9) {
  transition-delay: 0.45s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(10) {
  transition-delay: 0.5s;
}
.sec2 .s_f .box .pastki .button div span:nth-child(11) {
  transition-delay: 0.55s;
}
.sec2 .s_f .box .pastki .button:hover {
  --y: var(--move-hover);
  background: #FF6633;
  color: white;
  transform: 0.6s;
  --shadow: var(--shadow-hover);
  --text: white;
  border: 1px solid #FF6633;
}
.sec2 .s_f .box .pastki .button:hover span {
  color: white;
  --m: calc(var(--font-size) * -1);
}
.sec2 .s_f .box:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.sec44 .sec4 #owl-carousel {
  padding: 10px 10px;
}
.sec44 .tx h1 {
  padding: 0px 10px;
}
.sec44 .sec4 .owl-carousel-1 {
  position: relative;
  padding: 0px 10px;
}
.sec44 .sec4 .owl-carousel-1 .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 9px 7px;
  border-radius: 30px;
  transition: all 0.2s ease;
  background-color: #bab9b9;
}
.sec44 .sec4 .owl-carousel-1 .owl-dots .owl-dot.active span {
  width: 50px;
  background-color: #3858d6;
}
.sec44 .sec4 .owl-carousel-1 .owl-nav {
  display: none;
}
.sec44 .sec4 .card2 {
  border: 1px solid #e6e5e5;
  background: #ffffff;
  width: 100%;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: all 0.5 ease;
  overflow: hidden;
  padding: 20px 20px;
}
.sec44 .sec4 .card2 .im {
  position: absolute;
  top: -166px;
  right: -166px;
  transition: all 0.6s ease-in-out;
}
.sec44 .sec4 .card3 {
  border: 1px solid #e6e5e5;
  background: #ffffff;
  width: 100%;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: all 0.5 ease;
  overflow: hidden;
  padding: 20px 20px;
}
.sec44 .sec4 .card3 .im {
  position: absolute;
  top: -166px;
  right: -166px;
  transition: all 0.6s ease-in-out;
}
.sec44 .sec4 .box {
  color: white;
  text-align: left;
}
.sec44 .sec4 .box img {
  width: 75%;
}
.sec44 .sec4 .box .a {
  width: 60%;
}
.sec44 .sec4 .box p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #22343d;
  padding-bottom: 15px;
}
.sec44 .sec4 .box h3 {
  color: black;
  font-weight: 500;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 15px;
}
.sec44 .sec4 .card2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background: #ffa667;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 6px;
  transition: 0.9s ease;
}
.sec44 .sec4 .card2:hover {
  background-color: transparent;
}
.sec44 .sec4 .card2:hover::before {
  width: 100%;
}
.sec44 .sec4 .card2:hover h3 {
  color: white;
}
.sec44 .sec4 .card2:hover p {
  color: white;
}
.sec44 .sec4 .card2:hover .im {
  top: 3;
  right: 0;
}
.sec44 .sec4 .card3::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background: #c1fdb1;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 6px;
  transition: 0.9s ease;
}
.sec44 .sec4 .card3:hover {
  background-color: transparent;
}
.sec44 .sec4 .card3:hover::before {
  width: 100%;
}
.sec44 .sec4 .flexx {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sec44 .sec4 .flexx img {
  height: 200px;
}

.sec5 .ap-tab {
  margin-top: 40px;
}
.sec5 .fle {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
}
.sec5 .fle .button.dark {
  --background: #2F3545;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}
.sec5 .fle .button {
  width: 130px;
  --background: white;
  --text: #70C05B;
  --font-size: 18.5px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 10px 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 7px;
  text-align: left;
  display: block;
  margin-right: 15px;
  align-items: center;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.sec5 .fle .button div {
  display: flex;
  text-align: center;
  justify-content: left;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.sec5 .fle .button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.sec5 .fle .button div span:nth-child(1) {
  transition-delay: 0.05s;
}
.sec5 .fle .button div span:nth-child(2) {
  transition-delay: 0.1s;
}
.sec5 .fle .button div span:nth-child(3) {
  transition-delay: 0.15s;
}
.sec5 .fle .button div span:nth-child(4) {
  transition-delay: 0.2s;
}
.sec5 .fle .button div span:nth-child(5) {
  transition-delay: 0.25s;
}
.sec5 .fle .button div span:nth-child(6) {
  transition-delay: 0.3s;
}
.sec5 .fle .button div span:nth-child(7) {
  transition-delay: 0.35s;
}
.sec5 .fle .button div span:nth-child(8) {
  transition-delay: 0.4s;
}
.sec5 .fle .button div span:nth-child(9) {
  transition-delay: 0.45s;
}
.sec5 .fle .button div span:nth-child(10) {
  transition-delay: 0.5s;
}
.sec5 .fle .button div span:nth-child(11) {
  transition-delay: 0.55s;
}
.sec5 .fle .button:hover {
  --y: var(--move-hover);
  background: #70C05B;
  color: white;
  transform: 0.6s;
  --shadow: var(--shadow-hover);
  --text: white;
}
.sec5 .fle .button:hover span {
  color: white;
  --m: calc(var(--font-size) * -1);
}
.sec5 iframe {
  width: 100%;
}

.sec6 {
  margin-top: 90px;
}
.sec6 .f_aksi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec6 .s_f {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  overflow: hidden;
}
.sec6 .s_f .box {
  overflow: hidden;
  background-color: white;
  width: 96%;
  border-radius: 9px;
  transition: 0.6s;
}
.sec6 .s_f .box .ras {
  position: relative;
}
.sec6 .s_f .box .ras .s {
  width: 100%;
  height: 150px;
}
.sec6 .s_f .box .ras .po {
  padding: 0px 10px;
  top: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.sec6 .s_f .box .ras .tx {
  display: none;
  position: absolute;
  top: 120px;
  left: 10px;
  width: 56px;
  padding: 10px 0;
  color: white;
  background: #FF6633;
  border-radius: 4px;
  text-align: center;
}
.sec6 .s_f .box .pastki {
  padding: 10px 10px;
}
.sec6 .s_f .box .pastki .fle {
  display: flex;
  justify-content: space-between;
}
.sec6 .s_f .box .pastki .button.dark {
  --background: #2F3545;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}
.sec6 .s_f .box .pastki .button {
  --background: white;
  --text: #70C05B;
  --font-size: 18.5px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 10px 12px;
  font-family: "Roboto";
  font-weight: 500;
  background: #E5FFDE;
  width: 125px;
  line-height: var(--font-size);
  border-radius: 7px;
  text-align: center;
  display: block;
  align-items: center;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.sec6 .s_f .box .pastki .button div {
  display: flex;
  text-align: center;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.sec6 .s_f .box .pastki .button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.sec6 .s_f .box .pastki .button div span:nth-child(1) {
  transition-delay: 0.05s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(2) {
  transition-delay: 0.1s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(3) {
  transition-delay: 0.15s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(4) {
  transition-delay: 0.2s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(5) {
  transition-delay: 0.25s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(6) {
  transition-delay: 0.3s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(7) {
  transition-delay: 0.35s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(8) {
  transition-delay: 0.4s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(9) {
  transition-delay: 0.45s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(10) {
  transition-delay: 0.5s;
}
.sec6 .s_f .box .pastki .button div span:nth-child(11) {
  transition-delay: 0.55s;
}
.sec6 .s_f .box .pastki .button:hover {
  --y: var(--move-hover);
  background: #70C05B;
  color: white;
  transform: 0.6s;
  --shadow: var(--shadow-hover);
  --text: white;
}
.sec6 .s_f .box .pastki .button:hover span {
  color: white;
  --m: calc(var(--font-size) * -1);
}
.sec6 .s_f .box:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -10px);
}
.sec6 .s_f .box:hover .s {
  transform: scale(1.1);
  transition: 2s;
}

@media (max-width: 1190px) {
  .macl, .bosh {
    padding: 0px 15px;
  }
  .sec {
    padding: 0 15px;
  }
  .sec1 {
    padding: 0 15px;
  }
  .sec2 {
    padding: 0px 15px;
  }
  .about1 {
    padding: 0px 14px;
  }
  header {
    padding: 8px 14px;
  }
  .sec2 .f_aksi {
    padding: 0px 14px;
  }
  .sec2 .s_f {
    padding: 40px 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .sec2 .s_f .oxr-no {
    display: none;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec5 {
    padding: 0px 14px;
  }
  .sec6 {
    padding: 0px 14px;
  }
  .sec7 {
    padding: 0px 14px;
  }
}
@media (max-width: 990px) {
  .sec44 .sec4 .card2 .img {
    width: 50%;
  }
}
@media (max-width: 920px) {
  .sec2 .f_aksi {
    display: flex;
    justify-content: space-between;
  }
  .sec2 .s_f {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
  }
  .sec2 .s_f .oxr-no2 {
    display: none;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
}
@media (max-width: 890px) {
  .sec2 .f_aksi {
    display: flex;
    justify-content: space-between;
  }
  .sec2 .s_f {
    padding: 40px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .sec2 .s_f .oxr-no2 {
    display: none;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec6 {
    padding: 0px 15px;
    margin-top: 90px;
  }
  .sec6 .f_aksi {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sec6 .s_f {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 700px) {
  .sec5 .fle {
    display: grid;
    grid-template-columns: 180px 180px;
    gap: 20px;
  }
  .b .a-o {
    display: none;
  }
}
@media (max-width: 597px) {
  .sec2 .f_aksi {
    padding: 0px 0px;
  }
  .sec2 .s_f {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
  }
  .sec2 .s_f .box {
    width: 50%;
  }
  .sec44 .sec4 .card2 .img {
    width: 70%;
  }
  .sec44 .box .flexx {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sec5 {
    padding: 0px 10px;
  }
  .sec6 {
    padding: 0px 15px;
    margin-top: 90px;
  }
  .sec6 .f_aksi {
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
  }
  .sec6 .s_f {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 555px) {
  .sec2 .f_aksi {
    padding: 0px 45px;
    display: flex;
    justify-content: space-between;
  }
  .sec2 .a1 {
    font-size: 20px !important;
  }
  .sec2 .s_f {
    display: flex;
    flex-direction: column;
  }
  .sec2 .s_f .box {
    width: 88%;
  }
}
@media (max-width: 510px) {
  .sec44 .tx h1 {
    padding: 0px 10px;
    font-size: 23px !important;
    line-height: 30px !important;
  }
  .sec6 {
    padding: 0px 15px;
    margin-top: 90px;
  }
  .sec6 .f_aksi {
    padding: 0px 25px;
  }
  .sec6 .s_f {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 426px) {
  .sec2 .f_aksi {
    padding: 0px 10px;
  }
  .sec2 .f_aksi h1 {
    font-size: 25px !important;
  }
  .sec2 .f_aksi .a1 {
    font-size: 16px !important;
  }
  .sec2 .s_f {
    display: flex;
    flex-direction: column;
  }
  .sec2 .s_f .box {
    width: 100%;
  }
  .sec5 {
    padding: 0px 10px;
  }
  .sec5 .fle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .sec6 {
    padding: 0px 15px;
    margin-top: 90px;
  }
  .sec6 .f_aksi {
    padding: 0px 6px;
  }
  .sec6 .s_f {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin: auto;
  }
  .sec6 .box {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 350px) {
  .sec5 .fle {
    display: grid;
    grid-template-columns: 180px;
    gap: 20px;
  }
}