
header{
    position: sticky;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 9990;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.067);
    .fl{
        padding: 13px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        .logo2{
            display: none;
        }
        .ko{
            .bt{
                display: flex;
                align-items: center;
                gap: 15px;
                color: white;
                padding: 8px 15px;
                background: #70C05B;
                cursor: pointer;
                border-radius: 5px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
            .bt2{
                display: none;
            }
            .sub-menu-wrap{
                position: absolute;
                top: 100%;
                right: 0%;
                width: 100%;
                max-height: 0px;
                overflow: hidden;
                transition: max-height 0.5s;
                border-top: 1px solid rgb(231, 231, 231);
            }
            .sub-menu-wrap.open-menu{
                max-height: 400px;
            }
            .sub-menu{
                background: white;
                padding: 20px;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.277);
                .grid{
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    .tx{
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        ul{
                            list-style: none;
                        }
                        a{
                            text-decoration: none;
                            color: #414141;
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 16px;
                            line-height: 300%;
                        }
                        li{
                            transition: .3s ease-out;
                        }
                        li:hover{
                            transform: translateX(5px);
                        a{
                            color: #FF6633;
                        } 
                        }
                    }
                }
            }
            // .user-info{
            //     display: flex;
            //     align-items: center;
            // }
            // .user-info img{
            //     width: 60px;
            //     border-radius: 50%;
            //     margin-right: 15px;
            // }
            // .sub-menu hr{
            //     border: 0;
            //     height: 1px;
            //     width: 100%;
            //     background: #ccc;
            //     margin: 15px 0 10px;
            // }
            // .sub-menu-link{
            //     display: flex;
            //     align-items: center;
            //     text-decoration: none;
            //     color: #535353;
            //     margin: 14px 0;
            // }
            // .sub-menu-link p{
            //     width: 100%;
            // }
            // .sub-menu-link img{
            //     width: 40px;
            //     background-color: #e5e5e5;
            //     border-radius: 50%;
            //     padding: 8px;
            //     margin-right: 15px;
            // }
            // .sub-menu-link span{
            //     font-size: 15px;
            //     transition: transform 0.5s;
            // }
            // .sub-menu-link:hover{
            //     transform: translateX(5px);
            //     transition: .3s;
            // }

        }
        .search{
            display: flex;
            align-items: center;
            border: 1.4px solid #70C05B;
            border-radius: 5px;
            width: 60%;
            padding: 5px 5px;
            input{
                // position: absolute;
                outline: none;
                padding: 5px 5px;
                border: none;
                width: 100%;
                font-size: 15px;
            }
            a{
                position: relative;
                top: 2px;
                left: -10px;
                color: #414141;
            }
        }
        .icon{
            display: flex;
            align-items: baseline;
            gap: 30px;
            text-align: center;
            position: relative;
            a{
                position: relative;
                text-decoration: none;
                color: black;
            }
            .a{
                width: 21px;
            }
            .a2{
                width: 21px;
            }
            img{
                transition: .3s ease-out;
            }
            a:hover img{
                transform: translateY(-5px);
            }
            #count{
                margin: 0;
                padding: 4px 8px;
                position: absolute;
                top: -10px;
                right: 4px;
                font-size: 12px;
                background: #eb2d2d;
                color: #fff;
                border-radius: 50%;
            }
            
        }
        .men{
        
            .drop-down{
                display: inline-block;
                position: relative;
            }
            
            .drop-down__button{
                display: flex;
                align-items: center;
                gap: 10px;
                line-height: 40px;
                padding: 0 10px;
                text-align: left;
                border-radius: 4px;
                cursor: pointer;
            }
            
            .drop-down__name {
                color: black;
                letter-spacing: 2px;
            }
            
            .drop-down__icon {
                width: 18px;
                vertical-align: middle;
                margin-left: 14px;
                height: 18px;
                border-radius: 50%;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
                
            }
            
                
            .drop-down__menu-box {
                position: absolute;
                width: 100%;
                left: 0;
                background-color: #fff;
                border-radius: 4px;
                box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
                    transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                visibility: hidden;
            opacity: 0;
                margin-top: 10px;
            }
            
            .drop-down__menu {
                margin: 0;
                padding: 0 13px;
                list-style: none;
                
            }
            .drop-down__menu-box:before{
                content:'';
                background-color: transparent;
                border-right: 8px solid transparent;
                position: absolute;
                border-left: 8px solid transparent;
                border-bottom: 8px solid #fff;
                border-top: 8px solid transparent;
                top: -15px;
                right: 18px;
            
            }
            
            .drop-down__menu-box:after{
                content:'';
                background-color: transparent;
            }
            
            .drop-down__item {
                font-size: 14px;
                padding: 13px 0;
                text-align: left;
                font-weight: 500;
                color: #909dc2;
                cursor: pointer;
                position: relative;
                border-bottom: 1px solid #e0e2e9;
            }
            
            .drop-down__item-icon {
                width: 15px;
                height: 15px;
                position: absolute;
                right: 0px;
                fill: #8995b6;
                
            }
            
            .drop-down__item:hover .drop-down__item-icon{
                fill: #3d6def;
            }
            
            .drop-down__item:hover{
                color: #3d6def;
            }
            
            
            
            .drop-down__item:last-of-type{
                border-bottom: 0;
            }
                
            .drop-down--active .drop-down__menu-box{
            visibility: visible;
            opacity: 1;
                margin-top: 24px;
            }
            
            .drop-down__item:before{
                content:'';
                position: absolute;
            width: 3px;
            height: 28px;
            background-color: #3d6def;
            left: -13px;
            top: 50%;
            transform: translateY(-50%);
                display:none;
            }
            
            .drop-down__item:hover:before{
                display:block;
            }
        }
        .men2{
            .a{
                cursor: pointer;
            }
            .sub-menu-wrap{
                position: absolute;
                top: 103%;
                right: 0%;
                width: 300px;
                max-height: 0px;
                overflow: hidden;
                transition: max-height 0.5s;
            }
            .sub-menu-wrap.open-menu{
                max-height: 400px;
            }
            .sub-menu{
                background: white;
                padding: 20px;
                margin: 6px 10px;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.277);
            }
            .user-info{
                display: flex;
                align-items: center;
            }
            .user-info img{
                width: 60px;
                border-radius: 50%;
                margin-right: 15px;
            }
            .sub-menu hr{
                border: 0;
                height: 1px;
                width: 100%;
                background: #ccc;
                margin: 15px 0 10px;
            }
            .sub-menu-link{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #535353;
                margin: 14px 0;
            }
            .sub-menu-link p{
                width: 100%;
            }
            .sub-menu-link img{
                width: 40px;
                background-color: #e5e5e5;
                border-radius: 50%;
                padding: 8px;
                margin-right: 15px;
            }
            .sub-menu-link span{
                font-size: 15px;
                transition: transform 0.5s;
            }
            .sub-menu-link:hover{
                transform: translateX(5px);
                transition: .3s;
            }
        }

    }
    #nav-link-all{
        section{
          z-index: 99;
          width: 100%;
          background: white;
        }
        section .wrapper{
          border-top: 1px solid hsl(0, 0%, 89%);
          position: relative;
          max-width: 1300px;
          padding: 0px 20px;
          height: 40px;
          line-height: 70px;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .wrapper .nav-links{
          display: inline-flex;
        }
        .nav-links li{
          list-style: none;
        }
        .nav-links li a{
          color: black;
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          padding: 4px 15px;
          border-radius: 5px;
          transition: all 0.5s ease;
          position: relative;
        }
        .nav-links li a:hover{
            color: hsl(353, 100%, 78%)
        }
        .nav-links li .a::after{
          content: '';
          position: absolute;
          left: 0;
          bottom: -6px;
          width: 100%;
          height: 3px;
          background-color: hsl(353, 100%, 78%);
          border-radius: 40px;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform .5s;
        }
        .nav-links li .a:hover::after{
            transform-origin: left;
            transform: scaleX(1);
        }
        .nav-links .mobile-item{
          display: none;
        }
        .nav-links .drop-menu{
          position: absolute;
          background: white;
          width: 180px;
          line-height: 45px;
          top: 80px;
          opacity: 0;
          visibility: hidden;
          box-shadow: 0 6px 10px rgba(0,0,0,0.15);
        }
        .nav-links li:hover .drop-menu,
        .nav-links li:hover .mega-box{
          transition: all 0.3s ease;
          top: 50px;
          opacity: 1;
          visibility: visible;
        }
        .drop-menu li a{
          width: 100%;
          display: block;
          padding: 0 0 0 15px;
          font-weight: 400;
          border-radius: 0px;
        }
        .mega-box{
          position: absolute;
          left: 0;
          width: 100%;
          padding: 0 30px;
          top: 85px;
          opacity: 0;
          visibility: hidden;
        }
        .mega-box .content{
          background: white;
          padding: 25px 20px;
          display: flex;
          width: 100%;
          justify-content: space-between;
          box-shadow: 0 6px 10px rgba(87, 87, 87, 0.15);
          border-radius: 10px;
        }
        .mega-box .content .row{
          width: calc(23% - 25px);
          line-height: 45px;
        }
        .content .row img{
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
        .content .row h2{
          color: black;
          font-size: 20px;
          font-weight: 500;
        }
        .content .row .mega-links{
          margin-left: -40px;
          border-left: 1px solid rgba(255,255,255,0.09);
        }
        .row .mega-links li{
          padding: 0 20px;
        }
        .row .mega-links li a{
          padding: 0px;
          padding: 0 20px;
          color: #9d9d9d;
          font-size: 17px;
          display: block;
        }
        .row .mega-links li a:hover{
          color: black;
        }
        .wrapper .btn{
          color: black;
          font-size: 20px;
          cursor: pointer;
          display: none;
        }
        .wrapper .btn.close-btn{
          position: absolute;
          right: 30px;
          top: 10px;
        }
        section input{
          display: none;
        }
        .body-text{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;
          padding: 0 30px;
        }
        .body-text div{
          font-size: 45px;
          font-weight: 600;
        }
    }
}

nav{
    .fll{
        display: none;
    }
}

@media (max-width: 970px) {        
    header{
    .fl{
        gap: 20px;
        .ko{
            .bt{
                display: none;
            }
            .bt2{
                display: block;
                display: flex;
                align-items: center;
                gap: 20px;
                color: white;
                padding: 8px 15px;
                background: #70C05B;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
    }
}
@media (max-width: 900px) {
    header{
        #nav-link-all{
            display: none;
        }
    }
}
@media (max-width: 740px) {
    header{
        .fl{
            gap: 20px;
            .logo{
                display: none;
            }
            .logo2{
                display: block;
            }
        }
        #nav-link-all{
            display: none;
        }
    }
}
@media (max-width: 655px){
    header{
     .fl{
        gap: 7px;
        .ko{
            .bt2{
                display: none;
            }
            .sub-menu{
                .grid{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                }
            }
        } 
        .box{
            display: flex;
            align-items: center;
            border: 1.4px solid #70C05B;
            border-radius: 5px;
            width: 100%;
            padding: 5px 5px;
            input{
                // position: absolute;
                outline: none;
                padding: 5px 5px;
                border: none;
                width: 100%;
                font-size: 15px;
            }
        }
        .icon{
            a{
                display: none;
                text-decoration: none;
                color: black;
            }
        }
        .M{
            display: none;
        }
        .men2{
            .a{
                display: none;
                cursor: pointer;
            }
        }
     }   
    }
}
@media (max-width: 597px) {
    nav{
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: #FFFFFF;
        z-index: 999;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
        .fll{
            display: flex;
            align-items: center;
            width: 100%;
            margin: auto;
            padding: 5px 14px;
            .icon{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 10px 14px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                    p{
                        font-size: 14px;
                    }
                }
                .a{
                    width: 21px;
                }
                .a2{
                    width: 21px;
                }
                img{
                    transition: .3s ease-out;
                }
                a:hover img{
                    transform: translateY(-5px);
                }
            }
    
        }
    }
}
@media (max-width: 426px) {
    nav{
        .fll{
            width: 100%;
            margin: auto;
            padding: 10px 5px;
            .icon{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 10px 5px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                    p{
                        font-size: 11px;
                    }
                }
                .a{
                    width: 24px;
                }
                .a2{
                    width: 21px;
                }
                img{
                    transition: .3s ease-out;
                }
                a:hover img{
                    transform: translateY(-5px);
                }
            }
    
        }
    }
}