*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
html{
    scroll-behavior: smooth;
}
body{
    background: #fbf9ec;
}

@media (max-width: 1190px) {
    .macl, .bosh{
        padding: 0px 15px;
    }
    .sec{
        padding: 0 15px;
    }
    .sec1{
        padding: 0 15px;
    }
    .sec2{
        padding: 0px 15px;
    }
    .about1{
        padding: 0px 14px;
    }
    header{
        padding: 13px 14px;
    }
    .sec2{
        .f_aksi{
            padding: 0px 14px;
        }
        .s_f{
            padding: 40px 14px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            .oxr-no{
                display: none;
            }
            .box{
                width: 100%;
            }
        }
    }
    .sec5{
        padding: 0px 14px;
    }
    .sec6{
        padding: 0px 14px;
    }
    .sec7{
        padding: 0px 14px;
    }
}