.flll{
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background: #FFFFFF;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 95%;
  .n-f{
    display: flex;
  gap: 30px;
  }
  .yon{
    display: flex;
    gap: 30px;
    .bt{
      display: flex;
      color: white;
      p{
        padding: 10px;
        background-color: green;
        cursor: pointer;
      }
    }
  }
}